
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-596911594156458988.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-596911594156458988.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-596911594156458988.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-596911594156458988.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-596911594156458988.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-596911594156458988.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-596911594156458988.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-596911594156458988.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-596911594156458988.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-596911594156458988.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-596911594156458988.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-596911594156458988.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-596911594156458988.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-596911594156458988.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-596911594156458988.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-596911594156458988.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-596911594156458988.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-596911594156458988.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-596911594156458988.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-596911594156458988.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-596911594156458988.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-596911594156458988.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-596911594156458988.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-596911594156458988.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-596911594156458988.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-596911594156458988.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-596911594156458988.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-596911594156458988.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-596911594156458988.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-596911594156458988.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-596911594156458988.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-596911594156458988.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-596911594156458988.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-596911594156458988.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-596911594156458988.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-596911594156458988.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-596911594156458988.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-596911594156458988.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-596911594156458988.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-596911594156458988.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-596911594156458988.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-596911594156458988.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-596911594156458988.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-596911594156458988.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-596911594156458988.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-596911594156458988.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-596911594156458988.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-596911594156458988.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-596911594156458988.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-596911594156458988.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-596911594156458988.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-596911594156458988.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-596911594156458988.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-596911594156458988.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-596911594156458988.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-596911594156458988.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-596911594156458988.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-596911594156458988.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-596911594156458988.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-596911594156458988.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-596911594156458988.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-596911594156458988.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-596911594156458988.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-596911594156458988.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-596911594156458988.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-596911594156458988.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-596911594156458988.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-596911594156458988.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-596911594156458988.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-596911594156458988.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-596911594156458988.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-596911594156458988.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-596911594156458988.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-596911594156458988.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-596911594156458988.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-596911594156458988 .gp-relative{position:relative}.gps-596911594156458988 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-596911594156458988 .gp-mb-0{margin-bottom:0}.gps-596911594156458988 .gp-flex{display:flex}.gps-596911594156458988 .gp-inline-flex{display:inline-flex}.gps-596911594156458988 .gp-grid{display:grid}.gps-596911594156458988 .\!gp-hidden{display:none!important}.gps-596911594156458988 .gp-hidden{display:none}.gps-596911594156458988 .gp-max-w-full{max-width:100%}.gps-596911594156458988 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-596911594156458988 .gp-flex-col{flex-direction:column}.gps-596911594156458988 .gp-items-center{align-items:center}.gps-596911594156458988 .gp-justify-center{justify-content:center}.gps-596911594156458988 .gp-overflow-hidden{overflow:hidden}.gps-596911594156458988 .gp-leading-\[0\]{line-height:0}.gps-596911594156458988 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-596911594156458988 .gp-duration-200{transition-duration:.2s}.gps-596911594156458988 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-596911594156458988 .tablet\:\!gp-hidden{display:none!important}.gps-596911594156458988 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-596911594156458988 .mobile\:\!gp-hidden{display:none!important}.gps-596911594156458988 .mobile\:gp-hidden{display:none}}.gps-596911594156458988 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-596911594156458988 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-596911594156458988 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-596911594156458988 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-596911594156458988 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"RGBA(255, 255, 255, 0.68)","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gmki5a9J2f"}' data-id="gmki5a9J2f" id="gmki5a9J2f" data-same-height-subgrid-container class="gmki5a9J2f gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:RGBA(255, 255, 255, 0.68);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gAvZmAEEgL gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gvBHD6zWDs"}' data-id="gvBHD6zWDs" id="gvBHD6zWDs" data-same-height-subgrid-container class="gvBHD6zWDs gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:32px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g2V74p18q0 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gLDjjH09Bl"}' data-id="gLDjjH09Bl" id="gLDjjH09Bl" data-same-height-subgrid-container class="gLDjjH09Bl gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-3xl);--pl:32px;--pb:var(--g-s-3xl);--pr:var(--g-s-2xl);--mb-mobile:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gNDXJwmXXB gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gCv8sdcKpH" class="gp-leading-[0] gCv8sdcKpH" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--ta:center">
      <div data-id="gCv8sdcKpH" class="icon-wrapper gp-inline-flex gp-overflow-hidden gCv8sdcKpH " style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--bs:none;--bblr:100px;--bbrr:100px;--btlr:100px;--btrr:100px;--focus-bblr:100px;--focus-bbrr:100px;--focus-btlr:100px;--focus-btrr:100px;-undefined-bblr:100px;-undefined-bbrr:100px;-undefined-btlr:100px;-undefined-btrr:100px;--bg:#C8A26D;--shadow:none">
      
        <div >
          <span style="--c:#EBEAEA;--t:rotate(0deg);--w:32px;--w-tablet:32px;--w-mobile:32px;--h:32px;--h-tablet:32px;--h-mobile:32px;--minw:32px;--minw-tablet:32px;--minw-mobile:32px;--height-desktop:32px;--height-tablet:32px;--height-mobile:32px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="clock-afternoon-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562047283560">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,20A108,108,0,1,0,236,128,108.12,108.12,0,0,0,128,20Zm0,192a84,84,0,1,1,84-84A84.09,84.09,0,0,1,128,212Zm68-84a12,12,0,0,1-12,12H157l19.52,19.51a12,12,0,0,1-17,17l-40-40A12,12,0,0,1,128,116h56A12,12,0,0,1,196,128Z" /></svg></span>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gv1WzijvuI"
        class="gv1WzijvuI"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:700;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#311916;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggv1WzijvuI_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gzH5YTJ_rt"
        class="gzH5YTJ_rt"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--c:#311916;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzH5YTJ_rt_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gbWqEXVMP5 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gCPVo3wI6g"}' data-id="gCPVo3wI6g" id="gCPVo3wI6g" data-same-height-subgrid-container class="gCPVo3wI6g gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-3xl);--pl:32px;--pb:var(--g-s-3xl);--pr:var(--g-s-2xl);--mb-mobile:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gMg95ZG3Pn gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gbHI2bV-8f" class="gp-leading-[0] gbHI2bV-8f" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--ta:center">
      <div data-id="gbHI2bV-8f" class="icon-wrapper gp-inline-flex gp-overflow-hidden gbHI2bV-8f " style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--bs:none;--bblr:100px;--bbrr:100px;--btlr:100px;--btrr:100px;--focus-bblr:100px;--focus-bbrr:100px;--focus-btlr:100px;--focus-btrr:100px;-undefined-bblr:100px;-undefined-bbrr:100px;-undefined-btlr:100px;-undefined-btrr:100px;--bg:#C8A26D;--shadow:none">
      
        <div >
          <span style="--c:#EBEAEA;--t:rotate(0deg);--w:32px;--w-tablet:32px;--w-mobile:32px;--h:32px;--h-tablet:32px;--h-mobile:32px;--minw:32px;--minw-tablet:32px;--minw-mobile:32px;--height-desktop:32px;--height-tablet:32px;--height-mobile:32px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="arrows-out-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817554947244392">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M220,48V96a12,12,0,0,1-24,0V77l-35.51,35.52a12,12,0,0,1-17-17L179,60H160a12,12,0,0,1,0-24h48A12,12,0,0,1,220,48ZM95.51,143.51,60,179V160a12,12,0,0,0-24,0v48a12,12,0,0,0,12,12H96a12,12,0,0,0,0-24H77l35.52-35.51a12,12,0,0,0-17-17ZM208,148a12,12,0,0,0-12,12v19l-35.51-35.52a12,12,0,0,0-17,17L179,196H160a12,12,0,0,0,0,24h48a12,12,0,0,0,12-12V160A12,12,0,0,0,208,148ZM77,60H96a12,12,0,0,0,0-24H48A12,12,0,0,0,36,48V96a12,12,0,0,0,24,0V77l35.51,35.52a12,12,0,0,0,17-17Z" /></svg></span>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gtj9NIWR6z"
        class="gtj9NIWR6z"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:700;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#311916;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggtj9NIWR6z_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZcp9MfgZa"
        class="gZcp9MfgZa"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--c:#311916;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZcp9MfgZa_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g-Hsk4agkg gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gg62NGtsRV"}' data-id="gg62NGtsRV" id="gg62NGtsRV" data-same-height-subgrid-container class="gg62NGtsRV gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-3xl);--pl:32px;--pb:var(--g-s-3xl);--pr:var(--g-s-2xl);--mb-mobile:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gPFdvjzXOQ gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gzWnlLOJjL" class="gp-leading-[0] gzWnlLOJjL" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--ta:center">
      <div data-id="gzWnlLOJjL" class="icon-wrapper gp-inline-flex gp-overflow-hidden gzWnlLOJjL " style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--bs:none;--bblr:100px;--bbrr:100px;--btlr:100px;--btrr:100px;--focus-bblr:100px;--focus-bbrr:100px;--focus-btlr:100px;--focus-btrr:100px;-undefined-bblr:100px;-undefined-bbrr:100px;-undefined-btlr:100px;-undefined-btrr:100px;--bg:#C8A26D;--shadow:none">
      
        <div >
          <span style="--c:#EBEAEA;--t:rotate(0deg);--w:32px;--w-tablet:32px;--w-mobile:32px;--h:32px;--h-tablet:32px;--h-mobile:32px;--minw:32px;--minw-tablet:32px;--minw-mobile:32px;--height-desktop:32px;--height-tablet:32px;--height-mobile:32px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="cloud-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562047676776">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M160,36A92.09,92.09,0,0,0,79,84.36,68,68,0,1,0,72,220h88a92,92,0,0,0,0-184Zm0,160H72a44,44,0,0,1-1.82-88A91.86,91.86,0,0,0,68,128a12,12,0,0,0,24,0,68,68,0,1,1,68,68Z" /></svg></span>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gKdgywXuS9"
        class="gKdgywXuS9"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:700;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#311916;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggKdgywXuS9_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gHtLusijNd"
        class="gHtLusijNd"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--c:#311916;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggHtLusijNd_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gWrjw6V3Qt"}' data-id="gWrjw6V3Qt" id="gWrjw6V3Qt" data-same-height-subgrid-container class="gWrjw6V3Qt gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:32px;--pt:0px;--pl:0px;--cg:32px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gtTi9q45N_ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g9_9hEWAHk"}' data-id="g9_9hEWAHk" id="g9_9hEWAHk" data-same-height-subgrid-container class="g9_9hEWAHk gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-3xl);--pl:32px;--pb:var(--g-s-3xl);--pr:var(--g-s-2xl);--mb-mobile:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gSTHrlbq3W gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gtGhZlmUff" class="gp-leading-[0] gtGhZlmUff" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--ta:center">
      <div data-id="gtGhZlmUff" class="icon-wrapper gp-inline-flex gp-overflow-hidden gtGhZlmUff " style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--bs:none;--bblr:100px;--bbrr:100px;--btlr:100px;--btrr:100px;--focus-bblr:100px;--focus-bbrr:100px;--focus-btlr:100px;--focus-btrr:100px;-undefined-bblr:100px;-undefined-bbrr:100px;-undefined-btlr:100px;-undefined-btrr:100px;--bg:#C8A26D;--shadow:none">
      
        <div >
          <span style="--c:#EBEAEA;--t:rotate(0deg);--w:32px;--w-tablet:32px;--w-mobile:32px;--h:32px;--h-tablet:32px;--h-mobile:32px;--minw:32px;--minw-tablet:32px;--minw-mobile:32px;--height-desktop:32px;--height-tablet:32px;--height-mobile:32px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="sketch-logo-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817595010384232">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M249,96.1l-56-64a12,12,0,0,0-9-4.1H72a12,12,0,0,0-9,4.1L7,96.1a12,12,0,0,0,.26,16.09l112,120a12,12,0,0,0,17.54,0l112-120A12,12,0,0,0,249,96.1ZM213.55,92H182L152,52h26.55ZM71.88,116l21.19,53L43.61,116Zm86.4,0L128,191.69,97.72,116ZM104,92l24-32,24,32Zm80.12,24h28.27l-49.46,53ZM77.45,52H104L74,92H42.45Z" /></svg></span>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gFzpV4P4a8"
        class="gFzpV4P4a8"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:700;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#311916;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggFzpV4P4a8_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gRIWVejzh_"
        class="gRIWVejzh_"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--c:#311916;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggRIWVejzh__text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gf5ngTH5cc gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g2cWsD_Dvq"}' data-id="g2cWsD_Dvq" id="g2cWsD_Dvq" data-same-height-subgrid-container class="g2cWsD_Dvq gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-3xl);--pl:32px;--pb:var(--g-s-3xl);--pr:var(--g-s-2xl);--mb-mobile:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g0dVDt0Wdn gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gijixJPgJY" class="gp-leading-[0] gijixJPgJY" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--ta:center">
      <div data-id="gijixJPgJY" class="icon-wrapper gp-inline-flex gp-overflow-hidden gijixJPgJY " style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--bs:none;--bblr:100px;--bbrr:100px;--btlr:100px;--btrr:100px;--focus-bblr:100px;--focus-bbrr:100px;--focus-btlr:100px;--focus-btrr:100px;-undefined-bblr:100px;-undefined-bbrr:100px;-undefined-btlr:100px;-undefined-btrr:100px;--bg:#C8A26D;--shadow:none">
      
        <div >
          <span style="--c:#EBEAEA;--t:rotate(0deg);--w:32px;--w-tablet:32px;--w-mobile:32px;--h:32px;--h-tablet:32px;--h-mobile:32px;--minw:32px;--minw-tablet:32px;--minw-mobile:32px;--height-desktop:32px;--height-tablet:32px;--height-mobile:32px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="drop-slash-regular" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817677069582696">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M53.92,34.62A8,8,0,1,0,42.08,45.38L64.72,70.29C48.32,95,40,119.78,40,144a88,88,0,0,0,149.21,63.22l12.87,14.16a8,8,0,1,0,11.84-10.76ZM128,216a72.08,72.08,0,0,1-72-72c0-19.93,6.68-40.57,19.86-61.46L178.43,195.36A71.84,71.84,0,0,1,128,216ZM90,50.51a8,8,0,0,1-.27-11.31A247.8,247.8,0,0,1,123.41,9.45a8,8,0,0,1,9.18,0C136,11.83,216,68.7,216,144a88.08,88.08,0,0,1-3.15,23.4,8,8,0,0,1-7.71,5.88A7.79,7.79,0,0,1,203,173a8,8,0,0,1-5.59-9.83A72.55,72.55,0,0,0,200,144c0-57.24-55.48-105-72-118a252.23,252.23,0,0,0-26.66,24.23A8,8,0,0,1,90,50.51Z" /></svg></span>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gc0W5Vx3k6"
        class="gc0W5Vx3k6"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:700;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#311916;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggc0W5Vx3k6_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gmhWUr0JNC"
        class="gmhWUr0JNC"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--c:#311916;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggmhWUr0JNC_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g3_kTELIqW gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"goNjxjMCw0"}' data-id="goNjxjMCw0" id="goNjxjMCw0" data-same-height-subgrid-container class="goNjxjMCw0 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-3xl);--pl:32px;--pb:var(--g-s-3xl);--pr:var(--g-s-2xl);--mb-mobile:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gvRPM-9OD8 gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gd9bWkjEXI" class="gp-leading-[0] gd9bWkjEXI" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--ta:center">
      <div data-id="gd9bWkjEXI" class="icon-wrapper gp-inline-flex gp-overflow-hidden gd9bWkjEXI " style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--bs:none;--bblr:100px;--bbrr:100px;--btlr:100px;--btrr:100px;--focus-bblr:100px;--focus-bbrr:100px;--focus-btlr:100px;--focus-btrr:100px;-undefined-bblr:100px;-undefined-bbrr:100px;-undefined-btlr:100px;-undefined-btrr:100px;--bg:#C8A26D;--shadow:none">
      
        <div >
          <span style="--c:#EBEAEA;--t:rotate(0deg);--w:32px;--w-tablet:32px;--w-mobile:32px;--h:32px;--h-tablet:32px;--h-mobile:32px;--minw:32px;--minw-tablet:32px;--minw-mobile:32px;--height-desktop:32px;--height-tablet:32px;--height-mobile:32px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="lock-key-regular" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817687188865384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,112a28,28,0,0,0-8,54.83V184a8,8,0,0,0,16,0V166.83A28,28,0,0,0,128,112Zm0,40a12,12,0,1,1,12-12A12,12,0,0,1,128,152Zm80-72H176V56a48,48,0,0,0-96,0V80H48A16,16,0,0,0,32,96V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V96A16,16,0,0,0,208,80ZM96,56a32,32,0,0,1,64,0V80H96ZM208,208H48V96H208V208Z" /></svg></span>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gXeIYlsIP6"
        class="gXeIYlsIP6"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:700;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#311916;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggXeIYlsIP6_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ghgw-13n68"
        class="ghgw-13n68"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--c:#311916;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gghgw-13n68_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-596911594156458988 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/hdwkam-rm/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=596911594038887404&sectionId=596911594156458988)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggv1WzijvuI_text","label":"ggv1WzijvuI_text","default":"<p><strong>Crecimiento real donde hace falta</strong></p>"},{"type":"html","id":"ggzH5YTJ_rt_text","label":"ggzH5YTJ_rt_text","default":"<p><strong>Minoxidil 5%</strong><span style=\"background-color:rgb(255,255,255);color:rgb(13,13,13);font-size:16px;\"> activa folículos debilitados para generar vello auténtico en cejas y entradas.</span></p>"},{"type":"html","id":"ggtj9NIWR6z_text","label":"ggtj9NIWR6z_text","default":"<p><strong>Textura sin brillo ni sensación grasa</strong></p>"},{"type":"html","id":"ggZcp9MfgZa_text","label":"ggZcp9MfgZa_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(13,13,13);font-size:16px;\">Su formato en crema ofrece un acabado limpio y sofisticado, ideal para quienes buscan un producto invisible.</span></p>"},{"type":"html","id":"ggKdgywXuS9_text","label":"ggKdgywXuS9_text","default":"<p><strong>Fortalecimiento desde la raíz</strong></p>"},{"type":"html","id":"ggHtLusijNd_text","label":"ggHtLusijNd_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(13,13,13);font-size:16px;\">La mezcla de </span><strong>biotina, queratina y aminoácidos</strong><span style=\"background-color:rgb(255,255,255);color:rgb(13,13,13);font-size:16px;\"> nutre el vello para mejorar grosor y resistencia.</span></p>"},{"type":"html","id":"ggFzpV4P4a8_text","label":"ggFzpV4P4a8_text","default":"<p><strong>Aplicación precisa y controlada</strong></p>"},{"type":"html","id":"ggRIWVejzh__text","label":"ggRIWVejzh__text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(13,13,13);font-size:16px;\">Su textura firme permite aplicar solo en la zona que deseas tratar, evitando goteos o desbordes que son comunes en las versiones líquidas.</span></p>"},{"type":"html","id":"ggc0W5Vx3k6_text","label":"ggc0W5Vx3k6_text","default":"<p><strong>Absorción rápida sin residuos</strong></p>"},{"type":"html","id":"ggmhWUr0JNC_text","label":"ggmhWUr0JNC_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(13,13,13);font-size:16px;\">La base dermo–ligera se absorbe en segundos, permitiendo continuar tu rutina sin esperar ni dejar sensación pegajosa.</span></p>"},{"type":"html","id":"ggXeIYlsIP6_text","label":"ggXeIYlsIP6_text","default":"<p><strong>Revitalización de la zona con extractos botánicos</strong></p>"},{"type":"html","id":"gghgw-13n68_text","label":"gghgw-13n68_text","default":"<p>El romero, la bergamota y la vitamina E aportan suavidad y frescura, mejorando el aspecto de la piel favoreciendo el entorno del folículo.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}