
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-596911594156393452.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-596911594156393452.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-596911594156393452.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-596911594156393452.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-596911594156393452.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-596911594156393452.gps.gpsil [style*="--hvr-bga:"]:hover{background-attachment:var(--hvr-bga)}.gps-596911594156393452.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-596911594156393452.gps.gpsil [style*="--hvr-bgc:"]:hover{background-color:var(--hvr-bgc)}.gps-596911594156393452.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-596911594156393452.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-596911594156393452.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-596911594156393452.gps.gpsil [style*="--hvr-bgp:"]:hover{background-position:var(--hvr-bgp)}.gps-596911594156393452.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-596911594156393452.gps.gpsil [style*="--hvr-bgr:"]:hover{background-repeat:var(--hvr-bgr)}.gps-596911594156393452.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-596911594156393452.gps.gpsil [style*="--hvr-bgs:"]:hover{background-size:var(--hvr-bgs)}.gps-596911594156393452.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-596911594156393452.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-596911594156393452.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-596911594156393452.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-596911594156393452.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-596911594156393452.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-596911594156393452.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-596911594156393452.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-596911594156393452.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-596911594156393452.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-596911594156393452.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-596911594156393452.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-596911594156393452.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-596911594156393452.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-596911594156393452.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-596911594156393452.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-596911594156393452.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-596911594156393452.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-596911594156393452.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-596911594156393452.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-596911594156393452.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-596911594156393452.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-596911594156393452.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-596911594156393452.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-596911594156393452.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-596911594156393452.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-596911594156393452.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-596911594156393452.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-596911594156393452.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-596911594156393452.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-596911594156393452.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-596911594156393452.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-596911594156393452.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-596911594156393452.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-596911594156393452.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-596911594156393452.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-596911594156393452.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-596911594156393452.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-596911594156393452.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-596911594156393452.gps.gpsil [style*="--hvr-op:"]:hover{opacity:var(--hvr-op)}.gps-596911594156393452.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-596911594156393452.gps.gpsil [style*="--hvr-o:"]:hover{order:var(--hvr-o)}.gps-596911594156393452.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-596911594156393452.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-596911594156393452.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-596911594156393452.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-596911594156393452.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-596911594156393452.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-596911594156393452.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-596911594156393452.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-596911594156393452.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-596911594156393452.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-596911594156393452.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-596911594156393452.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-596911594156393452.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-596911594156393452.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-596911594156393452.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-596911594156393452.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-596911594156393452.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-596911594156393452.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-596911594156393452.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-596911594156393452.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-596911594156393452.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-596911594156393452.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-596911594156393452.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-596911594156393452.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-596911594156393452.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-596911594156393452.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-596911594156393452.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-596911594156393452.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-596911594156393452.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-596911594156393452.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-596911594156393452.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-596911594156393452.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-596911594156393452.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-596911594156393452.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-596911594156393452.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-596911594156393452.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-596911594156393452.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-596911594156393452.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-596911594156393452.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-596911594156393452.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-596911594156393452.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-596911594156393452.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-596911594156393452.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-596911594156393452 .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-596911594156393452 .gp-invisible{visibility:hidden}.gps-596911594156393452 .gp-absolute{position:absolute}.gps-596911594156393452 .gp-relative{position:relative}.gps-596911594156393452 .gp-inset-0{inset:0}.gps-596911594156393452 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-596911594156393452 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-596911594156393452 .-gp-z-1{z-index:-1}.gps-596911594156393452 .gp-z-1{z-index:1}.gps-596911594156393452 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-596911594156393452 .gp-mb-0{margin-bottom:0}.gps-596911594156393452 .gp-inline-block{display:inline-block}.gps-596911594156393452 .gp-flex{display:flex}.gps-596911594156393452 .gp-inline-flex{display:inline-flex}.gps-596911594156393452 .gp-grid{display:grid}.gps-596911594156393452 .gp-contents{display:contents}.gps-596911594156393452 .\!gp-hidden{display:none!important}.gps-596911594156393452 .gp-hidden{display:none}.gps-596911594156393452 .gp-h-auto{height:auto}.gps-596911594156393452 .gp-h-full{height:100%}.gps-596911594156393452 .gp-w-full{width:100%}.gps-596911594156393452 .gp-max-w-full{max-width:100%}.gps-596911594156393452 .gp-flex-none{flex:none}.gps-596911594156393452 .gp-shrink-0{flex-shrink:0}.gps-596911594156393452 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-596911594156393452 .gp-flex-col{flex-direction:column}.gps-596911594156393452 .\!gp-content-stretch{align-content:stretch!important}.gps-596911594156393452 .gp-items-center{align-items:center}.gps-596911594156393452 .gp-justify-center{justify-content:center}.gps-596911594156393452 .gp-self-center{align-self:center}.gps-596911594156393452 .gp-overflow-hidden{overflow:hidden}.gps-596911594156393452 .gp-break-words{overflow-wrap:break-word}.gps-596911594156393452 .gp-text-g-bg-3{color:var(--g-c-bg-3)}.gps-596911594156393452 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-596911594156393452 .gp-no-underline{text-decoration-line:none}.gps-596911594156393452 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-596911594156393452 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-596911594156393452 .gp-transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-596911594156393452 .gp-duration-200{transition-duration:.2s}.gps-596911594156393452 .gp-duration-300{transition-duration:.3s}.gps-596911594156393452 .gp-duration-\[var\(--duration\)\]{transition-duration:var(--duration)}.gps-596911594156393452 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-596911594156393452 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-596911594156393452 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-596911594156393452 .gp-group\/hero:hover .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-scale-x:var(--scale);--tw-scale-y:var(--scale);transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-596911594156393452 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-596911594156393452 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-596911594156393452 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-596911594156393452 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-596911594156393452 .tablet\:\!gp-relative{position:relative!important}.gps-596911594156393452 .tablet\:\!gp-hidden{display:none!important}.gps-596911594156393452 .tablet\:gp-hidden{display:none}.gps-596911594156393452 .tablet\:gp-h-auto{height:auto}.gps-596911594156393452 .tablet\:gp-flex-none{flex:none}.gps-596911594156393452 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-596911594156393452 .tablet\:gp-justify-center{justify-content:center}}@media (max-width:767px){.gps-596911594156393452 .mobile\:\!gp-relative{position:relative!important}.gps-596911594156393452 .mobile\:\!gp-hidden{display:none!important}.gps-596911594156393452 .mobile\:gp-hidden{display:none}.gps-596911594156393452 .mobile\:\!gp-h-auto{height:auto!important}.gps-596911594156393452 .mobile\:gp-h-auto{height:auto}.gps-596911594156393452 .mobile\:gp-flex-none{flex:none}.gps-596911594156393452 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-596911594156393452 .mobile\:gp-justify-center{justify-content:center}}.gps-596911594156393452 .\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}@media (max-width:1024px){.gps-596911594156393452 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-596911594156393452 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-596911594156393452 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-596911594156393452 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-596911594156393452 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-596911594156393452 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-596911594156393452 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-596911594156393452 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorant/v24/H4c2BXOCl9bbnla_nHIA47NMUjsNbCVrFvZUQ7Q.ttf) format('truetype');
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gR9TjDxcFD"}' data-id="gR9TjDxcFD" id="gR9TjDxcFD" data-same-height-subgrid-container class="gR9TjDxcFD gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gPjj-piEqU gp-relative gp-flex gp-flex-col"
    >
      
      <gp-hero-banner
        
        data-id="gVI1kXGN--"
        class="gVI1kXGN-- gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pb:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"RGBA(255, 255, 255, 0.2)","image":{"src":""},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"preload":true,"repeat":"no-repeat","size":"cover","type":"color","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/92a407d4e0c94a288eb54cac18c387dc.mp4","videoType":"youtube"},"tablet":{"attachment":"scroll","color":"RGBA(255, 255, 255, 0.2)","image":{"src":""},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"preload":true,"repeat":"no-repeat","size":"cover","type":"color","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/92a407d4e0c94a288eb54cac18c387dc.mp4","videoType":"youtube"},"mobile":{"attachment":"scroll","color":"RGBA(255, 255, 255, 0.2)","image":{"src":""},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"preload":true,"repeat":"no-repeat","size":"cover","type":"color","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/92a407d4e0c94a288eb54cac18c387dc.mp4","videoType":"youtube"}},"uid":"gVI1kXGN--","enableParallax":false,"speedParallax":0,"hoverEffect":true,"hoverEffectScale":"120%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"sizeSetting":{"desktop":{"height":"auto","shape":"custom","shapeLinked":false,"width":"100%"},"tablet":{"height":"auto","shape":"custom","shapeLinked":false,"width":"100%"},"mobile":{"height":"auto","shape":"custom","shapeLinked":false,"width":"100%"}},"videoObjectFit":{},"target":"_self","href":"","linkType":"","hoverEffectDuration":"0.6s","isYoutubeVideoMigrated":true}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-center tablet:gp-justify-center mobile:gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:auto;--bgc:RGBA(255, 255, 255, 0.2)">
      <div
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0px)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)] gp-transition-transform" style="--bgi:url();--bgi-tablet:url();--bgi-mobile:url();--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:;--bgc:RGBA(255, 255, 255, 0.2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0.6s;--scale:120%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transform:;transition:transform 0.6s cubic-bezier(0,0,0,1)">
          
          
        </div>
        <div aria-label="Overlay" class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]" style="--hvr-bgc:#FFFFFF;--bgc:#311916;--op:80%;--hvr-op:80%;--top:0;--left:0"> </div>
      </div>
      
    

    

    
    <gp-row gp-data='{}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row tablet:!gp-relative mobile:!gp-relative  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined !gp-content-stretch [&>*]:!gp-justify-center tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--pc:center;--pc-tablet:center;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="guNtjmd-KU gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g6HKmez9B9"}' data-id="g6HKmez9B9" id="g6HKmez9B9" data-same-height-subgrid-container class="g6HKmez9B9 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:118px;--mb:72px;--mt-tablet:118px;--mb-tablet:63px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:700px;--w-tablet:700px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="ga1DHY5JCQ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gqrNUoO1-n"
        class="gqrNUoO1-n"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-Cormorant, 'Cormorant'), var(--g-font-heading, heading);--size:40px;--size-tablet:46px;--size-mobile:32px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#FFFFFF;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggqrNUoO1-n_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJdromcoMk"
        class="gJdromcoMk"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--pl:50px;--pr:50px;--pl-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:80%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJdromcoMk_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--ta:center" class=" _rsi-cod-form-gempages-button-overwrite _rsi-cod-form-is-gempage">
        <style>[data-id="gcMDdpxR-G"].gp-button-base::before, [data-id="gcMDdpxR-G-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      
  
    }
  
      
  [data-id="gcMDdpxR-G"]:hover::before, [data-id="gcMDdpxR-G-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gcMDdpxR-G" dataId="gcMDdpxR-G" data-state="idle" aria-label="<p>COMPRAR AHORA</p>"
          
          type="button"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--hvr-bblr:16px;--hvr-bbrr:16px;--hvr-btlr:16px;--hvr-btrr:16px;--bgp:50% 50%;--hvr-bgp:50% 50%;--bgs:cover;--hvr-bgs:cover;--bgr:no-repeat;--hvr-bgr:no-repeat;--bga:scroll;--hvr-bga:scroll;--bgi:;--hvr-bgi:;--hvr-bg:#D3A35F;--bg:#C8A26D;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold"
          class="gcMDdpxR-G gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
    <span
      style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--ts:none;word-break:break-word;--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" data-name="star-filled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z"></path></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggcMDdpxR-G_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    <div
      role="presentation"
      data-id="gHS1nINX9C"
      style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pb:32px;--ta:center"
      class="gp-group/image gp-relative force-publish-1769208740597 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gHS1nINX9C"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSI0NTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwMDAtNDUwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDAwIiBoZWlnaHQ9IjQ1MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSI0NTAiIGZpbGw9InVybCgjZy0xMDAwLTQ1MCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwMDAiIHRvPSIxMDAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSI0NTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwMDAtNDUwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDAwIiBoZWlnaHQ9IjQ1MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSI0NTAiIGZpbGw9InVybCgjZy0xMDAwLTQ1MCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwMDAiIHRvPSIxMDAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src quality-type="{&quot;desktop&quot;:&quot;medium&quot;}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSI0NTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwMDAtNDUwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDAwIiBoZWlnaHQ9IjQ1MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSI0NTAiIGZpbGw9InVybCgjZy0xMDAwLTQ1MCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwMDAiIHRvPSIxMDAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif"
        alt="Alt Image"
        width="100%"
        style="--aspect:auto;--objf:cover;--w:40%;--w-tablet:970px;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    <div
      role="presentation"
      data-id="gh88RvXPdn"
      style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1769208740597 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gh88RvXPdn"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0736/7314/6671/files/backvf_768x.webp" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSI0NTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwMDAtNDUwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDAwIiBoZWlnaHQ9IjQ1MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSI0NTAiIGZpbGw9InVybCgjZy0xMDAwLTQ1MCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwMDAiIHRvPSIxMDAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="https://ucarecdn.com/1f02878b-28a2-496e-9b38-cf132c72d416/-/format/auto/-/preview/3000x3000/-/quality/lighter/23.png" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjkwIiBoZWlnaHQ9IjQ4NiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjkwLTQ4NiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjkwIiBoZWlnaHQ9IjQ4NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjkwIiBoZWlnaHQ9IjQ4NiIgZmlsbD0idXJsKCNnLTY5MC00ODYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02OTAiIHRvPSI2OTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://ucarecdn.com/1f02878b-28a2-496e-9b38-cf132c72d416/-/format/auto/-/preview/3000x3000/-/quality/lighter/23.png" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjkwIiBoZWlnaHQ9IjQ4NiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjkwLTQ4NiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjkwIiBoZWlnaHQ9IjQ4NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjkwIiBoZWlnaHQ9IjQ4NiIgZmlsbD0idXJsKCNnLTY5MC00ODYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02OTAiIHRvPSI2OTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://ucarecdn.com/1f02878b-28a2-496e-9b38-cf132c72d416/-/format/auto/-/preview/3000x3000/-/quality/lighter/23.png"
        alt="Alt Image"
        width="100%"
        style="--aspect:auto;--objf:cover;--w:970px;--w-tablet:970px;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full gp-invisible -gp-z-1">
      
      <source media="(max-width: 767px)" data-srcSet="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        loading="eager" fetchpriority="high" title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        alt=""
        width="100%"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="adaptive-hero-banner"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v2-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 13",
    "tag": "section",
    "class": "gps-596911594156393452 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/hdwkam-rm/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=596911594038887404&sectionId=596911594156393452)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggqrNUoO1-n_text","label":"ggqrNUoO1-n_text","default":"<span style=\"color:#000000;\"><strong>¿Quieres cejas más llenas sin cambiar tu rutina? Solo dos minutos al día para ver cambios reales</strong></span>"},{"type":"html","id":"ggJdromcoMk_text","label":"ggJdromcoMk_text","default":"<p><span style=\"color:#000000;\">Cada día que pasa sin tratar tus cejas o entradas es un día en el que podrían verse igual. Hoy puedes empezar a activar un cambio real, natural y visible con una fórmula creada para darte resultados.</span></p>"},{"type":"html","id":"ggcMDdpxR-G_label","label":"ggcMDdpxR-G_label","default":"<p>COMPRAR AHORA</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}