
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-596911594156917740.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-596911594156917740.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-596911594156917740.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-596911594156917740.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-596911594156917740.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-596911594156917740.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-596911594156917740.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-596911594156917740.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-596911594156917740.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-596911594156917740.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-596911594156917740.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-596911594156917740.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-596911594156917740.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-596911594156917740.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-596911594156917740.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-596911594156917740.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-596911594156917740.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-596911594156917740.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-596911594156917740.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-596911594156917740.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-596911594156917740.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-596911594156917740.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-596911594156917740.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-596911594156917740.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-596911594156917740.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-596911594156917740.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-596911594156917740.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-596911594156917740.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-596911594156917740.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-596911594156917740.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-596911594156917740.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-596911594156917740.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-596911594156917740.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-596911594156917740.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-596911594156917740.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-596911594156917740.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-596911594156917740.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-596911594156917740.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-596911594156917740.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-596911594156917740.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-596911594156917740.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-596911594156917740.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-596911594156917740.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-596911594156917740.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-596911594156917740.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-596911594156917740.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-596911594156917740.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-596911594156917740.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-596911594156917740.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-596911594156917740.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-596911594156917740.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-596911594156917740.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-596911594156917740.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-596911594156917740.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-596911594156917740.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-596911594156917740.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-596911594156917740.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-596911594156917740.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-596911594156917740.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-596911594156917740.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-596911594156917740.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-596911594156917740.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-596911594156917740.gps.gpsil [style*="--v-tablet:"]{visibility:var(--v-tablet)}.gps-596911594156917740.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-596911594156917740.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-596911594156917740.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-596911594156917740.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-596911594156917740.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-596911594156917740.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-596911594156917740.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-596911594156917740.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-596911594156917740.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-596911594156917740.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-596911594156917740.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-596911594156917740.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-596911594156917740.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-596911594156917740.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-596911594156917740.gps.gpsil [style*="--v-mobile:"]{visibility:var(--v-mobile)}.gps-596911594156917740.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-596911594156917740.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-596911594156917740 .gp-relative{position:relative}.gps-596911594156917740 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-596911594156917740 .gp-mb-0{margin-bottom:0}.gps-596911594156917740 .gp-inline-block{display:inline-block}.gps-596911594156917740 .gp-flex{display:flex}.gps-596911594156917740 .gp-grid{display:grid}.gps-596911594156917740 .gp-contents{display:contents}.gps-596911594156917740 .\!gp-hidden{display:none!important}.gps-596911594156917740 .gp-hidden{display:none}.gps-596911594156917740 .gp-h-full{height:100%}.gps-596911594156917740 .gp-w-full{width:100%}.gps-596911594156917740 .gp-max-w-full{max-width:100%}.gps-596911594156917740 .gp-flex-1{flex:1 1 0%}.gps-596911594156917740 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-596911594156917740 .gp-flex-col{flex-direction:column}.gps-596911594156917740 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-596911594156917740 .gp-duration-200{transition-duration:.2s}.gps-596911594156917740 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-596911594156917740 .tablet\:\!gp-hidden{display:none!important}.gps-596911594156917740 .tablet\:gp-hidden{display:none}.gps-596911594156917740 .tablet\:gp-h-full{height:100%}.gps-596911594156917740 .tablet\:gp-flex-1{flex:1 1 0%}}@media (max-width:767px){.gps-596911594156917740 .mobile\:\!gp-hidden{display:none!important}.gps-596911594156917740 .mobile\:gp-hidden{display:none}.gps-596911594156917740 .mobile\:gp-h-auto{height:auto}.gps-596911594156917740 .mobile\:gp-flex-none{flex:none}}.gps-596911594156917740 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"RGBA(255, 255, 255, 0.68)","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g0fXDQpg9-"}' data-id="g0fXDQpg9-" id="g0fXDQpg9-" data-same-height-subgrid-container class="g0fXDQpg9- gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:100px;--pl:80px;--pb:100px;--pr:80px;--pt-mobile:72px;--pl-mobile:20px;--pb-mobile:72px;--pr-mobile:20px;--pt-tablet:72px;--pl-tablet:40px;--pb-tablet:72px;--pr-tablet:40px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:RGBA(255, 255, 255, 0.68);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gOwhxFBwzS gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#311916","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gE8qJyUvSH"}' data-id="gE8qJyUvSH" id="gE8qJyUvSH" data-same-height-subgrid-container class="gE8qJyUvSH gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--pt:64px;--pl:64px;--pb:64px;--pr:64px;--mb-mobile:0px;--pt-mobile:40px;--pl-mobile:20px;--pb-mobile:40px;--pr-mobile:20px;--mb-tablet:0px;--pt-tablet:32px;--pl-tablet:32px;--pb-tablet:32px;--pr-tablet:32px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#311916;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g2M4KRHjVS gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g4bQc235YE"}' data-id="g4bQc235YE" id="g4bQc235YE" data-same-height-subgrid-container class="g4bQc235YE gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="ggW_9iYeFc gp-relative gp-flex gp-flex-col"
    >
      
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"zoom","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}}},"tag":"Text","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g8eCkR99SP"
        class="g8eCkR99SP"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--pb:0px;--mb-mobile:10px;--pb-mobile:0px;--mb-tablet:20px;--pb-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--size:33px;--size-tablet:16px;--size-mobile:18px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--ls:normal;--weight:bold;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg8eCkR99SP_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g7c-QIlwfR"}' data-id="g7c-QIlwfR" id="g7c-QIlwfR" data-same-height-subgrid-container class="g7c-QIlwfR gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:16px;--cg-tablet:14px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g5UPE4Icdl gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gge84GusAg"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:14px;--pb-mobile:0px;--ta:right;--ta-mobile:center"
      class="gp-group/image gp-relative force-publish-1769208740119 gp-flex-1 gp-h-full mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-1 tablet:gp-h-full gge84GusAg"
    >
      <div
        
        style="border-radius:inherit;--jc:right;--jc-mobile:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0736/7314/6671/files/rm_768x.jpg" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE5IiBoZWlnaHQ9IjEyMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTE5LTEyMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTE5IiBoZWlnaHQ9IjEyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE5IiBoZWlnaHQ9IjEyMCIgZmlsbD0idXJsKCNnLTExOS0xMjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xMTkiIHRvPSIxMTkiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "rm.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE5IiBoZWlnaHQ9IjEyMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTE5LTEyMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTE5IiBoZWlnaHQ9IjEyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE5IiBoZWlnaHQ9IjEyMCIgZmlsbD0idXJsKCNnLTExOS0xMjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xMTkiIHRvPSIxMTkiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "rm.jpg" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE5IiBoZWlnaHQ9IjEyMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTE5LTEyMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTE5IiBoZWlnaHQ9IjEyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE5IiBoZWlnaHQ9IjEyMCIgZmlsbD0idXJsKCNnLTExOS0xMjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xMTkiIHRvPSIxMTkiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "rm.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect-mobile:80/80;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:80px;--h:100%;--h-tablet:100%;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--radiusType:circle;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gB3m9VXFBS gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gSVHbghcVq"
        class="gSVHbghcVq"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--size:19px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--ls:normal;--weight:bold;--c:#D1A466;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggSVHbghcVq_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 12",
    "tag": "section",
    "class": "gps-596911594156917740 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/hdwkam-rm/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=596911594038887404&sectionId=596911594156917740)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg8eCkR99SP_text","label":"gg8eCkR99SP_text","default":"<p><strong>“Al fin un producto que sí da resultados visibles”</strong></p><p>&nbsp;</p><p><i>Llevaba meses con huequitos en las cejas que ni el maquillaje cubría bien. Kallos fue lo único que me dejó ver cambios reales. No en un día, pero sí en unas semanas. Lo mejor es que se integra perfecto en mi rutina porque no deja brillo. Lo seguiré usando fijo.</i></p>"},{"type":"html","id":"ggSVHbghcVq_text","label":"ggSVHbghcVq_text","default":"<p><strong>Valeria S., 26 años - Arequipa</strong></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}