
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-598328061552755255.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-598328061552755255.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-598328061552755255.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-598328061552755255.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-598328061552755255.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-598328061552755255.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-598328061552755255.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-598328061552755255.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-598328061552755255.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-598328061552755255.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-598328061552755255.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-598328061552755255.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-598328061552755255.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-598328061552755255.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-598328061552755255.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-598328061552755255.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-598328061552755255.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-598328061552755255.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-598328061552755255.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-598328061552755255.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-598328061552755255.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-598328061552755255.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-598328061552755255.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-598328061552755255.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-598328061552755255.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-598328061552755255.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-598328061552755255.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-598328061552755255.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-598328061552755255.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-598328061552755255.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-598328061552755255.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-598328061552755255.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-598328061552755255.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-598328061552755255.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-598328061552755255.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-598328061552755255.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-598328061552755255.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-598328061552755255.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-598328061552755255.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-598328061552755255.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-598328061552755255.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-598328061552755255.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-598328061552755255.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-598328061552755255.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-598328061552755255.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-598328061552755255.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-598328061552755255.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-598328061552755255.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-598328061552755255.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-598328061552755255.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-598328061552755255.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-598328061552755255.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-598328061552755255.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-598328061552755255.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-598328061552755255.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-598328061552755255.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-598328061552755255.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-598328061552755255.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-598328061552755255.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-598328061552755255.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-598328061552755255.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-598328061552755255.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-598328061552755255.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-598328061552755255.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-598328061552755255.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-598328061552755255 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-598328061552755255 .\!gp-relative{position:relative!important}.gps-598328061552755255 .gp-relative{position:relative}.gps-598328061552755255 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-598328061552755255 .gp-mb-0{margin-bottom:0}.gps-598328061552755255 .gp-flex{display:flex}.gps-598328061552755255 .gp-inline-flex{display:inline-flex}.gps-598328061552755255 .gp-grid{display:grid}.gps-598328061552755255 .\!gp-hidden{display:none!important}.gps-598328061552755255 .gp-hidden{display:none}.gps-598328061552755255 .gp-h-full{height:100%}.gps-598328061552755255 .gp-w-\[0\.01px\]{width:.01px}.gps-598328061552755255 .gp-w-full{width:100%}.gps-598328061552755255 .gp-max-w-full{max-width:100%}.gps-598328061552755255 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-598328061552755255 .gp-flex-col{flex-direction:column}.gps-598328061552755255 .gp-items-center{align-items:center}.gps-598328061552755255 .gp-overflow-hidden{overflow:hidden}.gps-598328061552755255 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-598328061552755255 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-598328061552755255 .gp-duration-200{transition-duration:.2s}.gps-598328061552755255 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-598328061552755255 .tablet\:\!gp-hidden{display:none!important}.gps-598328061552755255 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-598328061552755255 .mobile\:\!gp-hidden{display:none!important}.gps-598328061552755255 .mobile\:gp-hidden{display:none}}.gps-598328061552755255 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F2F2F3","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gmZbzK_4Lb"}' data-id="gmZbzK_4Lb" id="gmZbzK_4Lb" data-same-height-subgrid-container class="gmZbzK_4Lb gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:4px;--pl:0px;--pb:4px;--pr:0px;--pt-mobile:2px;--pl-mobile:0px;--pb-mobile:2px;--pr-mobile:0px;--pt-tablet:2px;--pl-tablet:0px;--pb-tablet:2px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#F2F2F3;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gjhbn3dPcP gp-relative gp-flex gp-flex-col"
    >
      
  <script src="https://assets.gemcommerce.com/assets-v2/gp-marquee-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-marquee data-id="gI8QyF3LHf" gp-data='{"setting":{"activeItem":"0","childItem":["Item 1","Item 2","Item 3","Item 4"],"direction":"left","hasItemShadow":false,"hoverItem":"0","iconSeparatorSvg":"<svg height=\"20px\" width=\"20px\" data-name=\"dot-outline-filled\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817731477569896\">\n              <path fill=\"currentColor\" strokelinecap=\"round\" strokelinejoin=\"round\" d=\"M156,128a28,28,0,1,1-28-28A28,28,0,0,1,156,128Z\"></path></svg>","isPreview":false,"isShowIconSeparator":false,"itemWidthType":{"desktop":"FIT_CONTENT","mobile":"FIT_CONTENT","tablet":"FIT_CONTENT"},"speed":1,"stopOnHover":true,"uid":"gI8QyF3LHf"},"styles":{"align":{"desktop":"center"},"backgroundColor":{"desktop":"#AC9651"},"iconSeparatorColor":"text-2","iconSeparatorSize":{"desktop":16},"itemBackgroundColor":{"desktop":"transparent"},"itemBorderStyle":{"border":"none","borderType":"none","borderWidth":"1px","color":"#000000","isCustom":false,"width":"1px 1px 1px 1px"},"itemCorner":{"radiusType":"none"},"itemMaxWidth":{"desktop":"300px","mobile":"150px","tablet":"300px"},"itemSpacing":{"desktop":"32px","tablet":"37px"},"sizeSetting":{"desktop":{"height":"Auto","shapeLinked":false,"width":"100%"}}}}'
   class="gI8QyF3LHf">
   <div class="gp-flex gp-w-full gp-relative" style="--jc:center">
      <div class="!gp-relative" style="--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:4px;--pl:0px;--pb:4px;--pr:0px;--pt-mobile:4px;--pl-mobile:0px;--pb-mobile:4px;--pr-mobile:0px;--pt-tablet:4px;--pl-tablet:0px;--pb-tablet:4px;--pr-tablet:0px;--bg:#AC9651">
         <div class="gem-marquee gp-overflow-hidden gp-flex gp-items-center gp-w-full gp-h-full gI8QyF3LHf">
            <div class="gp-overflow-hidden gp-w-full gp-h-full">
               
  <div style="--pause-on-hover:paused;--pause-on-click:paused;--width:100%;--transform:none;min-width:100%" class="rfm-marquee-container">
    <div class="rfm-marquee" style="--play:running;--direction:normal;--delay:0s;--iteration-count:infinite;--min-width:auto;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto">
      <div class="rfm-initial-child-container">
        
        <div style="--transform:none;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto" class="rfm-child">
          
               <div class="gp-flex gp-items-center gp-marque-child-item gem-child-marquee-item gp-w-full">
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all"
                     style="--pr:32px;--pr-tablet:37px;--pr-mobile:37px;text-wrap:wrap;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto;--maxw:unset;--maxw-tablet:unset;--maxw-mobile:unset">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  gnCeZmwmXf gem-marquee-item-gnCeZmwmXf"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g79lpHgvj4"
        class="g79lpHgvj4"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:8px;--pb:8px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:17px;--size-tablet:16px;--size-mobile:14px;--weight:bold;--c:#FFFFFF;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg79lpHgvj4_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
                     
                  </div>
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all"
                     style="--pr:32px;--pr-tablet:37px;--pr-mobile:37px;text-wrap:wrap;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto;--maxw:unset;--maxw-tablet:unset;--maxw-mobile:unset">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  guOUFHvpnY gem-marquee-item-guOUFHvpnY"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g-HniZinMK"
        class="g-HniZinMK"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:8px;--pb:8px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:17px;--size-tablet:16px;--size-mobile:14px;--weight:bold;--c:#FFFFFF;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg-HniZinMK_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
                     
                  </div>
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all"
                     style="--pr:32px;--pr-tablet:37px;--pr-mobile:37px;text-wrap:wrap;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto;--maxw:unset;--maxw-tablet:unset;--maxw-mobile:unset">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  gmPUfULkPd gem-marquee-item-gmPUfULkPd"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gdjFu8bbdi"
        class="gdjFu8bbdi"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:8px;--pb:8px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:17px;--size-tablet:16px;--size-mobile:14px;--weight:bold;--c:#FFFFFF;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggdjFu8bbdi_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
                     
                  </div>
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all"
                     style="--pr:32px;--pr-tablet:37px;--pr-mobile:37px;text-wrap:wrap;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto;--maxw:unset;--maxw-tablet:unset;--maxw-mobile:unset">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  gQzDCRLaTY gem-marquee-item-gQzDCRLaTY"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gPoGKh5Nt6"
        class="gPoGKh5Nt6"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:8px;--pb:8px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:17px;--size-tablet:16px;--size-mobile:14px;--weight:bold;--c:#FFFFFF;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggPoGKh5Nt6_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
                     
                  </div>
                  
               </div>
               
        </div>
        
      </div>
    </div>
    <div class="rfm-marquee placeholder-marquee" style="--play:running;--direction:normal;--delay:0s;--iteration-count:infinite;--min-width:auto;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto"></div>
  </div>
  
            </div>
         </div>
      </div>
   </div>
</gp-marquee>

    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-598328061552755255 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/hdwkam-rm/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=598328061452091959&sectionId=598328061552755255)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg79lpHgvj4_text","label":"gg79lpHgvj4_text","default":"<p>100% garantizado</p>"},{"type":"html","id":"gg-HniZinMK_text","label":"gg-HniZinMK_text","default":"<p>9 de cada 10 clientes lo recomiendan</p>"},{"type":"html","id":"ggdjFu8bbdi_text","label":"ggdjFu8bbdi_text","default":"<p>Apto para todo tipo de piel</p>"},{"type":"html","id":"ggPoGKh5Nt6_text","label":"ggPoGKh5Nt6_text","default":"<p>resultados visibles</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}