
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-596911594156786668.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-596911594156786668.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-596911594156786668.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-596911594156786668.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-596911594156786668.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-596911594156786668.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-596911594156786668.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-596911594156786668.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-596911594156786668.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-596911594156786668.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-596911594156786668.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-596911594156786668.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-596911594156786668.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-596911594156786668.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-596911594156786668.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-596911594156786668.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-596911594156786668.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-596911594156786668.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-596911594156786668.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-596911594156786668.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-596911594156786668.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-596911594156786668.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-596911594156786668.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-596911594156786668.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-596911594156786668.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-596911594156786668.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-596911594156786668.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-596911594156786668.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-596911594156786668.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-596911594156786668.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-596911594156786668.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-596911594156786668.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-596911594156786668.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-596911594156786668.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-596911594156786668.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-596911594156786668.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-596911594156786668.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-596911594156786668.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-596911594156786668.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-596911594156786668.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-596911594156786668.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-596911594156786668.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-596911594156786668.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-596911594156786668.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-596911594156786668.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-596911594156786668.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-596911594156786668.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-596911594156786668.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-596911594156786668.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-596911594156786668.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-596911594156786668.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-596911594156786668.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-596911594156786668.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-596911594156786668.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-596911594156786668.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-596911594156786668.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-596911594156786668.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-596911594156786668.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-596911594156786668.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-596911594156786668.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-596911594156786668.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-596911594156786668.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-596911594156786668.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-596911594156786668.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-596911594156786668.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-596911594156786668.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-596911594156786668.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-596911594156786668.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-596911594156786668.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-596911594156786668.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-596911594156786668 .gp-relative{position:relative}.gps-596911594156786668 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-596911594156786668 .gp-mb-0{margin-bottom:0}.gps-596911594156786668 .gp-inline-block{display:inline-block}.gps-596911594156786668 .gp-flex{display:flex}.gps-596911594156786668 .gp-grid{display:grid}.gps-596911594156786668 .gp-contents{display:contents}.gps-596911594156786668 .\!gp-hidden{display:none!important}.gps-596911594156786668 .gp-hidden{display:none}.gps-596911594156786668 .gp-h-auto{height:auto}.gps-596911594156786668 .gp-h-full{height:100%}.gps-596911594156786668 .gp-w-full{width:100%}.gps-596911594156786668 .gp-max-w-full{max-width:100%}.gps-596911594156786668 .gp-flex-none{flex:none}.gps-596911594156786668 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-596911594156786668 .gp-flex-col{flex-direction:column}.gps-596911594156786668 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-596911594156786668 .gp-duration-200{transition-duration:.2s}.gps-596911594156786668 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-596911594156786668 .tablet\:\!gp-hidden{display:none!important}.gps-596911594156786668 .tablet\:gp-hidden{display:none}.gps-596911594156786668 .tablet\:gp-h-auto{height:auto}.gps-596911594156786668 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-596911594156786668 .mobile\:\!gp-hidden{display:none!important}.gps-596911594156786668 .mobile\:gp-hidden{display:none}.gps-596911594156786668 .mobile\:gp-h-auto{height:auto}.gps-596911594156786668 .mobile\:gp-flex-none{flex:none}}.gps-596911594156786668 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuFuYMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}


@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorant/v24/H4c2BXOCl9bbnla_nHIA47NMUjsNbCVrFvZUQ7Q.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"RGBA(255, 255, 255, 0.68)","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gw6TnPYrcK"}' data-id="gw6TnPYrcK" id="gw6TnPYrcK" data-same-height-subgrid-container class="gw6TnPYrcK gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:119px;--pb:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:RGBA(255, 255, 255, 0.68);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g2ygbM-CC4 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFCF9","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gTwbMpyrEN"}' data-id="gTwbMpyrEN" id="gTwbMpyrEN" data-same-height-subgrid-container class="gTwbMpyrEN gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pb:127px;--mb-mobile:0px;--pb-mobile:68px;--cg:8px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#FFFCF9;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gcSpiroHdD gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gR1gwV2S41"}' data-id="gR1gwV2S41" id="gR1gwV2S41" data-same-height-subgrid-container class="gR1gwV2S41 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pl:15px;--pr:15px;--mb-mobile:14px;--pl-mobile:15px;--pr-mobile:15px;--cg:8px;--gtc:minmax(0, 12fr);--w:700px;--w-tablet:700px;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gFQxjyM0xi gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gj84991Ugt"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:-89px;--mb:24px;--mt-mobile:-77px;--mb-mobile:28px;--ta:center"
      class="gp-group/image gp-relative force-publish-1769208740118 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gj84991Ugt"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "MORRAL_ODDIN.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTQwIiBoZWlnaHQ9IjU0MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTQwLTU0MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTQwIiBoZWlnaHQ9IjU0MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTQwIiBoZWlnaHQ9IjU0MCIgZmlsbD0idXJsKCNnLTU0MC01NDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01NDAiIHRvPSI1NDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "MORRAL_ODDIN.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTQwIiBoZWlnaHQ9IjU0MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTQwLTU0MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTQwIiBoZWlnaHQ9IjU0MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTQwIiBoZWlnaHQ9IjU0MCIgZmlsbD0idXJsKCNnLTU0MC01NDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01NDAiIHRvPSI1NDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "MORRAL_ODDIN.webp" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTQwIiBoZWlnaHQ9IjU0MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTQwLTU0MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTQwIiBoZWlnaHQ9IjU0MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTQwIiBoZWlnaHQ9IjU0MCIgZmlsbD0idXJsKCNnLTU0MC01NDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01NDAiIHRvPSI1NDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "MORRAL_ODDIN.webp" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:211px;--w-tablet:211px;--w-mobile:170px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gj84991Ugt">
        .gj84991Ugt {

}
.gj84991Ugt > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gM_vAtKzt_"
        class="gM_vAtKzt_"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-Cormorant, 'Cormorant'), var(--g-font-heading, heading);--size:40px;--size-tablet:46px;--size-mobile:32px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#311916;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggM_vAtKzt__text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g2DrrKmJkg"
        class="g2DrrKmJkg"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:14px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#311916;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg2DrrKmJkg_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g2DrrKmJkg">
        .g2DrrKmJkg {

}
.g2DrrKmJkg p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-596911594156786668 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/hdwkam-rm/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=596911594038887404&sectionId=596911594156786668)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggM_vAtKzt__text","label":"ggM_vAtKzt__text","default":"<strong>La calidad que prometemos, la garantizamos</strong>"},{"type":"html","id":"gg2DrrKmJkg_text","label":"gg2DrrKmJkg_text","default":"<p>Creemos en los resultados que ofrece nuestra fórmula. Por eso, cada unidad de Kallos está respaldada por una garantía de satisfacción: si no ves una mejora real en la apariencia de tus cejas o entradas con el uso constante, estamos aquí para ayudarte con una solución.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}