
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-596786825926804454.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-596786825926804454.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-596786825926804454.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-596786825926804454.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-596786825926804454.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-596786825926804454.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-596786825926804454.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-596786825926804454.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-596786825926804454.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-596786825926804454.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-596786825926804454.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-596786825926804454.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-596786825926804454.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-596786825926804454.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-596786825926804454.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-596786825926804454.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-596786825926804454.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-596786825926804454.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-596786825926804454.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-596786825926804454.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-596786825926804454.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-596786825926804454.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-596786825926804454.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-596786825926804454.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-596786825926804454.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-596786825926804454.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-596786825926804454.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-596786825926804454.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-596786825926804454.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-596786825926804454.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-596786825926804454.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-596786825926804454.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-596786825926804454.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-596786825926804454.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-596786825926804454.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-596786825926804454.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-596786825926804454.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-596786825926804454.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-596786825926804454.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-596786825926804454.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-596786825926804454.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-596786825926804454.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-596786825926804454.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-596786825926804454.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-596786825926804454.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-596786825926804454.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-596786825926804454.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-596786825926804454.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-596786825926804454.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-596786825926804454.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-596786825926804454.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-596786825926804454.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-596786825926804454.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-596786825926804454.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-596786825926804454.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-596786825926804454.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-596786825926804454.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-596786825926804454.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-596786825926804454.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-596786825926804454.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-596786825926804454.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-596786825926804454.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-596786825926804454.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-596786825926804454.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-596786825926804454.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-596786825926804454.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-596786825926804454.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-596786825926804454.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-596786825926804454.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-596786825926804454.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-596786825926804454.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-596786825926804454.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-596786825926804454.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-596786825926804454.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-596786825926804454.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-596786825926804454.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-596786825926804454.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-596786825926804454.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-596786825926804454.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-596786825926804454.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-596786825926804454 .\!gp-relative{position:relative!important}.gps-596786825926804454 .gp-relative{position:relative}.gps-596786825926804454 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-596786825926804454 .gp-mb-0{margin-bottom:0}.gps-596786825926804454 .gp-flex{display:flex}.gps-596786825926804454 .gp-inline-flex{display:inline-flex}.gps-596786825926804454 .gp-grid{display:grid}.gps-596786825926804454 .\!gp-hidden{display:none!important}.gps-596786825926804454 .gp-hidden{display:none}.gps-596786825926804454 .gp-h-full{height:100%}.gps-596786825926804454 .gp-w-\[0\.01px\]{width:.01px}.gps-596786825926804454 .gp-w-full{width:100%}.gps-596786825926804454 .gp-max-w-full{max-width:100%}.gps-596786825926804454 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-596786825926804454 .gp-flex-col{flex-direction:column}.gps-596786825926804454 .gp-items-center{align-items:center}.gps-596786825926804454 .gp-justify-center{justify-content:center}.gps-596786825926804454 .gp-overflow-hidden{overflow:hidden}.gps-596786825926804454 .gp-leading-\[0\]{line-height:0}.gps-596786825926804454 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-596786825926804454 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-596786825926804454 .gp-duration-200{transition-duration:.2s}.gps-596786825926804454 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-596786825926804454 .tablet\:\!gp-hidden{display:none!important}.gps-596786825926804454 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-596786825926804454 .mobile\:\!gp-hidden{display:none!important}.gps-596786825926804454 .mobile\:gp-hidden{display:none}}.gps-596786825926804454 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-596786825926804454 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-596786825926804454 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-596786825926804454 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-596786825926804454 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0C4n.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#1D1D1B","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gnmOk9D6R4"}' data-id="gnmOk9D6R4" id="gnmOk9D6R4" data-same-height-subgrid-container class="gnmOk9D6R4 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#1D1D1B;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="guLvX2Urui gp-relative gp-flex gp-flex-col"
    >
      
  <script src="https://assets.gemcommerce.com/assets-v2/gp-marquee-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-marquee data-id="gkFo9fTMRs" gp-data='{"setting":{"activeItem":"0","childItem":["Item 1","Item 6","Item 5","Item 4","Item 3","Item 6"],"direction":"left","hasItemShadow":false,"hoverItem":"0","iconSeparatorSvg":"<svg height=\"20px\" width=\"20px\" data-name=\"dot-outline-filled\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817731477569896\">\n              <path fill=\"currentColor\" strokelinecap=\"round\" strokelinejoin=\"round\" d=\"M156,128a28,28,0,1,1-28-28A28,28,0,0,1,156,128Z\"></path></svg>","isPreview":false,"isShowIconSeparator":false,"itemWidthType":{"desktop":"BASE_ON_NUMBER_OF_ITEMS","mobile":"CUSTOM","tablet":"BASE_ON_NUMBER_OF_ITEMS"},"speed":1,"stopOnHover":true,"uid":"gkFo9fTMRs"},"styles":{"align":{"desktop":"center"},"backgroundColor":{"desktop":"#1D1D1B"},"iconSeparatorColor":"text-2","iconSeparatorSize":{"desktop":16},"itemBackgroundColor":{"desktop":"transparent"},"itemBorderStyle":{"border":"none","borderType":"none","borderWidth":"1px","color":"#000000","isCustom":false,"width":"1px 1px 1px 1px"},"itemCorner":{"radiusType":"none"},"itemMaxWidth":{"desktop":"300px","mobile":"150px","tablet":"300px"},"itemSpacing":{"desktop":"60px","mobile":"20px"},"sizeSetting":{"desktop":{"height":"Auto","shapeLinked":false,"width":"100%"}}}}'
   class="gkFo9fTMRs">
   <div class="gp-flex gp-w-full gp-relative" style="--jc:center">
      <div class="!gp-relative" style="--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:16px;--pl:0px;--pb:16px;--pr:0px;--bg:#1D1D1B">
         <div class="gem-marquee gp-overflow-hidden gp-flex gp-items-center gp-w-full gp-h-full gkFo9fTMRs">
            <div class="gp-overflow-hidden gp-w-full gp-h-full">
               
  <div style="--pause-on-hover:paused;--pause-on-click:paused;--width:100%;--transform:none;min-width:100%" class="rfm-marquee-container">
    <div class="rfm-marquee" style="--play:running;--direction:normal;--delay:0s;--iteration-count:infinite;--min-width:auto;--w:100%;--w-tablet:100%;--w-mobile:auto;--minw:100%;--minw-tablet:100%;--minw-mobile:auto">
      <div class="rfm-initial-child-container">
        
        <div style="--transform:none;--w:100%;--w-tablet:100%;--w-mobile:auto;--minw:100%;--minw-tablet:100%;--minw-mobile:auto" class="rfm-child">
          
               <div class="gp-flex gp-items-center gp-marque-child-item gem-child-marquee-item gp-w-full">
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all gp-w-full"
                     style="--pr:60px;--pr-tablet:60px;--pr-mobile:20px;text-wrap:wrap;--w:calc(100% / 6);--w-tablet:calc(100% / 6);--w-mobile:150px;--minw:calc(100% / 6);--minw-tablet:calc(100% / 6);--minw-mobile:150px;--maxw:calc(100% / 6);--maxw-tablet:calc(100% / 6);--maxw-mobile:150px">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  ghCo-bfZzJ gem-marquee-item-ghCo-bfZzJ"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    <div id="g3kuz9xlFr" class="gp-leading-[0] g3kuz9xlFr" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--mb-tablet:0px;--ta:center">
      <div data-id="g3kuz9xlFr" class="icon-wrapper gp-inline-flex gp-overflow-hidden g3kuz9xlFr " style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--bs:none;--bblr:100px;--bbrr:100px;--btlr:100px;--btrr:100px;--focus-bblr:100px;--focus-bbrr:100px;--focus-btlr:100px;--focus-btrr:100px;-undefined-bblr:100px;-undefined-bbrr:100px;-undefined-btlr:100px;-undefined-btrr:100px;--bg:#AC9651;--shadow:none">
      
        <div >
          <span style="--c:#EBEAEA;--t:rotate(0deg);--w:32px;--w-tablet:32px;--w-mobile:32px;--h:32px;--h-tablet:32px;--h-mobile:32px;--minw:32px;--minw-tablet:32px;--minw-mobile:32px;--height-desktop:32px;--height-tablet:32px;--height-mobile:32px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="shield-check-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817756323774824">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M208,40H48A16,16,0,0,0,32,56v56c0,52.72,25.52,84.67,46.93,102.19,23.06,18.86,46,25.26,47,25.53a8,8,0,0,0,4.2,0c1-.27,23.91-6.67,47-25.53C198.48,196.67,224,164.72,224,112V56A16,16,0,0,0,208,40Zm-34.32,69.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z" /></svg></span>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gWe0asZyIp"
        class="gWe0asZyIp"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:8px;--pb:8px;--mb-mobile:0px;--pt-mobile:8px;--pb-mobile:8px;--mb-tablet:0px;--pt-tablet:8px;--pb-tablet:8px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#EBEAEA;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggWe0asZyIp_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
                     
                  </div>
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all gp-w-full"
                     style="--pr:60px;--pr-tablet:60px;--pr-mobile:20px;text-wrap:wrap;--w:calc(100% / 6);--w-tablet:calc(100% / 6);--w-mobile:150px;--minw:calc(100% / 6);--minw-tablet:calc(100% / 6);--minw-mobile:150px;--maxw:calc(100% / 6);--maxw-tablet:calc(100% / 6);--maxw-mobile:150px">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  ghpTlqmvl- gem-marquee-item-ghpTlqmvl-"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    <div id="gYqOLFBDLU" class="gp-leading-[0] gYqOLFBDLU" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--mb-tablet:0px;--ta:center">
      <div data-id="gYqOLFBDLU" class="icon-wrapper gp-inline-flex gp-overflow-hidden gYqOLFBDLU " style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--bs:none;--bblr:100px;--bbrr:100px;--btlr:100px;--btrr:100px;--focus-bblr:100px;--focus-bbrr:100px;--focus-btlr:100px;--focus-btrr:100px;-undefined-bblr:100px;-undefined-bbrr:100px;-undefined-btlr:100px;-undefined-btrr:100px;--bg:#AC9651;--shadow:none">
      
        <div >
          <span style="--c:#EBEAEA;--t:rotate(0deg);--w:32px;--w-tablet:32px;--w-mobile:32px;--h:32px;--h-tablet:32px;--h-mobile:32px;--minw:32px;--minw-tablet:32px;--minw-mobile:32px;--height-desktop:32px;--height-tablet:32px;--height-mobile:32px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="seal-check-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817756322529640">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M225.86,102.82c-3.77-3.94-7.67-8-9.14-11.57-1.36-3.27-1.44-8.69-1.52-13.94-.15-9.76-.31-20.82-8-28.51s-18.75-7.85-28.51-8c-5.25-.08-10.67-.16-13.94-1.52-3.56-1.47-7.63-5.37-11.57-9.14C146.28,23.51,138.44,16,128,16s-18.27,7.51-25.18,14.14c-3.94,3.77-8,7.67-11.57,9.14C88,40.64,82.56,40.72,77.31,40.8c-9.76.15-20.82.31-28.51,8S41,67.55,40.8,77.31c-.08,5.25-.16,10.67-1.52,13.94-1.47,3.56-5.37,7.63-9.14,11.57C23.51,109.72,16,117.56,16,128s7.51,18.27,14.14,25.18c3.77,3.94,7.67,8,9.14,11.57,1.36,3.27,1.44,8.69,1.52,13.94.15,9.76.31,20.82,8,28.51s18.75,7.85,28.51,8c5.25.08,10.67.16,13.94,1.52,3.56,1.47,7.63,5.37,11.57,9.14C109.72,232.49,117.56,240,128,240s18.27-7.51,25.18-14.14c3.94-3.77,8-7.67,11.57-9.14,3.27-1.36,8.69-1.44,13.94-1.52,9.76-.15,20.82-.31,28.51-8s7.85-18.75,8-28.51c.08-5.25.16-10.67,1.52-13.94,1.47-3.56,5.37-7.63,9.14-11.57C232.49,146.28,240,138.44,240,128S232.49,109.73,225.86,102.82Zm-52.2,6.84-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z" /></svg></span>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gvO1ovQvMo"
        class="gvO1ovQvMo"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:8px;--pb:8px;--mb-mobile:0px;--pt-mobile:8px;--pb-mobile:8px;--mb-tablet:0px;--pt-tablet:8px;--pb-tablet:8px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#EBEAEA;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggvO1ovQvMo_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
                     
                  </div>
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all gp-w-full"
                     style="--pr:60px;--pr-tablet:60px;--pr-mobile:20px;text-wrap:wrap;--w:calc(100% / 6);--w-tablet:calc(100% / 6);--w-mobile:150px;--minw:calc(100% / 6);--minw-tablet:calc(100% / 6);--minw-mobile:150px;--maxw:calc(100% / 6);--maxw-tablet:calc(100% / 6);--maxw-mobile:150px">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  g2v3eWWxx3 gem-marquee-item-g2v3eWWxx3"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    <div id="gGBXYN_CEP" class="gp-leading-[0] gGBXYN_CEP" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--mb-tablet:0px;--ta:center">
      <div data-id="gGBXYN_CEP" class="icon-wrapper gp-inline-flex gp-overflow-hidden gGBXYN_CEP " style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--bs:none;--bblr:100px;--bbrr:100px;--btlr:100px;--btrr:100px;--focus-bblr:100px;--focus-bbrr:100px;--focus-btlr:100px;--focus-btrr:100px;-undefined-bblr:100px;-undefined-bbrr:100px;-undefined-btlr:100px;-undefined-btrr:100px;--bg:#AC9651;--shadow:none">
      
        <div >
          <span style="--c:#EBEAEA;--t:rotate(0deg);--w:32px;--w-tablet:32px;--w-mobile:32px;--h:32px;--h-tablet:32px;--h-mobile:32px;--minw:32px;--minw-tablet:32px;--minw-mobile:32px;--height-desktop:32px;--height-tablet:32px;--height-mobile:32px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="bus-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817558488678760">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M184,28H72A36,36,0,0,0,36,64V208a20,20,0,0,0,20,20H84a20,20,0,0,0,20-20V192h48v16a20,20,0,0,0,20,20h28a20,20,0,0,0,20-20V64A36,36,0,0,0,184,28ZM60,168V112H196v56ZM72,52H184a12,12,0,0,1,12,12V88H60V64A12,12,0,0,1,72,52Zm8,152H60V192H80Zm96,0V192h20v12Zm-68-64a16,16,0,1,1-16-16A16,16,0,0,1,108,140Zm72,0a16,16,0,1,1-16-16A16,16,0,0,1,180,140Zm76-60v24a12,12,0,0,1-24,0V80a12,12,0,0,1,24,0ZM24,80v24a12,12,0,0,1-24,0V80a12,12,0,0,1,24,0Z" /></svg></span>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g91xKH9d7w"
        class="g91xKH9d7w"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:8px;--pb:8px;--mb-mobile:0px;--pt-mobile:8px;--pb-mobile:8px;--mb-tablet:0px;--pt-tablet:8px;--pb-tablet:8px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#EBEAEA;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg91xKH9d7w_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
                     
                  </div>
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all gp-w-full"
                     style="--pr:60px;--pr-tablet:60px;--pr-mobile:20px;text-wrap:wrap;--w:calc(100% / 6);--w-tablet:calc(100% / 6);--w-mobile:150px;--minw:calc(100% / 6);--minw-tablet:calc(100% / 6);--minw-mobile:150px;--maxw:calc(100% / 6);--maxw-tablet:calc(100% / 6);--maxw-mobile:150px">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  gsjpSIGbIL gem-marquee-item-gsjpSIGbIL"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    <div id="gy8_62BR_t" class="gp-leading-[0] gy8_62BR_t" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--mb-tablet:0px;--ta:center">
      <div data-id="gy8_62BR_t" class="icon-wrapper gp-inline-flex gp-overflow-hidden gy8_62BR_t " style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--bs:none;--bblr:100px;--bbrr:100px;--btlr:100px;--btrr:100px;--focus-bblr:100px;--focus-bbrr:100px;--focus-btlr:100px;--focus-btrr:100px;-undefined-bblr:100px;-undefined-bbrr:100px;-undefined-btlr:100px;-undefined-btrr:100px;--bg:#AC9651;--shadow:none">
      
        <div >
          <span style="--c:#EBEAEA;--t:rotate(0deg);--w:32px;--w-tablet:32px;--w-mobile:32px;--h:32px;--h-tablet:32px;--h-mobile:32px;--minw:32px;--minw-tablet:32px;--minw-mobile:32px;--height-desktop:32px;--height-tablet:32px;--height-mobile:32px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="hand-coins-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817739180343656">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128.09,57.38a36,36,0,0,1,55.17-27.82,4,4,0,0,1-.56,7A52.06,52.06,0,0,0,152,84c0,1.17,0,2.34.12,3.49a4,4,0,0,1-6,3.76A36,36,0,0,1,128.09,57.38ZM240,160.61a24.47,24.47,0,0,1-13.6,22l-.44.2-38.83,16.54a6.94,6.94,0,0,1-1.19.4l-64,16A7.93,7.93,0,0,1,120,216H16A16,16,0,0,1,0,200V160a16,16,0,0,1,16-16H44.69l22.62-22.63A31.82,31.82,0,0,1,89.94,112H140a28,28,0,0,1,27.25,34.45l41.84-9.62A24.61,24.61,0,0,1,240,160.61Zm-16,0a8.61,8.61,0,0,0-10.87-8.3l-.31.08-67,15.41a8.32,8.32,0,0,1-1.79.2H112a8,8,0,0,1,0-16h28a12,12,0,0,0,0-24H89.94a15.86,15.86,0,0,0-11.31,4.69L56,155.31V200h63l62.43-15.61,38-16.18A8.56,8.56,0,0,0,224,160.61ZM168,84a36,36,0,1,0,36-36A36,36,0,0,0,168,84Z" /></svg></span>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gnlmWhnKyT"
        class="gnlmWhnKyT"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:8px;--pb:8px;--mb-mobile:0px;--pt-mobile:8px;--pb-mobile:8px;--mb-tablet:0px;--pt-tablet:8px;--pb-tablet:8px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#EBEAEA;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggnlmWhnKyT_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
                     
                  </div>
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all gp-w-full"
                     style="--pr:60px;--pr-tablet:60px;--pr-mobile:20px;text-wrap:wrap;--w:calc(100% / 6);--w-tablet:calc(100% / 6);--w-mobile:150px;--minw:calc(100% / 6);--minw-tablet:calc(100% / 6);--minw-mobile:150px;--maxw:calc(100% / 6);--maxw-tablet:calc(100% / 6);--maxw-mobile:150px">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  gpyZxb7yxq gem-marquee-item-gpyZxb7yxq"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    <div id="gsv864juI3" class="gp-leading-[0] gsv864juI3" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--mb-tablet:0px;--ta:center">
      <div data-id="gsv864juI3" class="icon-wrapper gp-inline-flex gp-overflow-hidden gsv864juI3 " style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--bs:none;--bblr:100px;--bbrr:100px;--btlr:100px;--btrr:100px;--focus-bblr:100px;--focus-bbrr:100px;--focus-btlr:100px;--focus-btrr:100px;-undefined-bblr:100px;-undefined-bbrr:100px;-undefined-btlr:100px;-undefined-btrr:100px;--bg:#AC9651;--shadow:none">
      
        <div >
          <span style="--c:#EBEAEA;--t:rotate(0deg);--w:32px;--w-tablet:32px;--w-mobile:32px;--h:32px;--h-tablet:32px;--h-mobile:32px;--minw:32px;--minw-tablet:32px;--minw-mobile:32px;--height-desktop:32px;--height-tablet:32px;--height-mobile:32px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="tag-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817759866454376">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M243.31,136,144,36.69A15.86,15.86,0,0,0,132.69,32H40a8,8,0,0,0-8,8v92.69A15.86,15.86,0,0,0,36.69,144L136,243.31a16,16,0,0,0,22.63,0l84.68-84.68a16,16,0,0,0,0-22.63ZM84,96A12,12,0,1,1,96,84,12,12,0,0,1,84,96Z" /></svg></span>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gqTn6BIugr"
        class="gqTn6BIugr"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:8px;--pb:8px;--mb-mobile:0px;--pt-mobile:8px;--pb-mobile:8px;--mb-tablet:0px;--pt-tablet:8px;--pb-tablet:8px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#EBEAEA;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggqTn6BIugr_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
                     
                  </div>
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all gp-w-full"
                     style="--pr:60px;--pr-tablet:60px;--pr-mobile:20px;text-wrap:wrap;--w:calc(100% / 6);--w-tablet:calc(100% / 6);--w-mobile:150px;--minw:calc(100% / 6);--minw-tablet:calc(100% / 6);--minw-mobile:150px;--maxw:calc(100% / 6);--maxw-tablet:calc(100% / 6);--maxw-mobile:150px">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  gd8ZFTuNRd gem-marquee-item-gd8ZFTuNRd"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    <div id="guMVBJigFi" class="gp-leading-[0] guMVBJigFi" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--mb-tablet:0px;--ta:center">
      <div data-id="guMVBJigFi" class="icon-wrapper gp-inline-flex gp-overflow-hidden guMVBJigFi " style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--bs:none;--bblr:100px;--bbrr:100px;--btlr:100px;--btrr:100px;--focus-bblr:100px;--focus-bbrr:100px;--focus-btlr:100px;--focus-btrr:100px;-undefined-bblr:100px;-undefined-bbrr:100px;-undefined-btlr:100px;-undefined-btrr:100px;--bg:#AC9651;--shadow:none">
      
        <div >
          <span style="--c:#EBEAEA;--t:rotate(0deg);--w:32px;--w-tablet:32px;--w-mobile:32px;--h:32px;--h-tablet:32px;--h-mobile:32px;--minw:32px;--minw-tablet:32px;--minw-mobile:32px;--height-desktop:32px;--height-tablet:32px;--height-mobile:32px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="person-arms-spread-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817749213839720">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M100,36a28,28,0,1,1,28,28A28,28,0,0,1,100,36ZM227.6,92.57A15.7,15.7,0,0,0,212,80H44a16,16,0,0,0-6.7,30.53l.06,0,53.89,23.73-21.92,83.3a16,16,0,0,0,7.9,20.91A15.83,15.83,0,0,0,84,240a16,16,0,0,0,14.44-9.06L128,180l29.58,51a16,16,0,0,0,29.07-13.35l-21.92-83.3,54-23.76A15.7,15.7,0,0,0,227.6,92.57Z" /></svg></span>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gGANosq-xe"
        class="gGANosq-xe"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:8px;--pb:8px;--mb-mobile:0px;--pt-mobile:8px;--pb-mobile:8px;--mb-tablet:0px;--pt-tablet:8px;--pb-tablet:8px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#EBEAEA;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggGANosq-xe_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
                     
                  </div>
                  
               </div>
               
        </div>
        
      </div>
    </div>
    <div class="rfm-marquee placeholder-marquee" style="--play:running;--direction:normal;--delay:0s;--iteration-count:infinite;--min-width:auto;--w:100%;--w-tablet:100%;--w-mobile:auto;--minw:100%;--minw-tablet:100%;--minw-mobile:auto"></div>
  </div>
  
            </div>
         </div>
      </div>
   </div>
</gp-marquee>

    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-596786825926804454 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/hdwkam-rm/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=596785932540052460&sectionId=596786825926804454)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggWe0asZyIp_text","label":"ggWe0asZyIp_text","default":"<p>100% Garantizado</p>"},{"type":"html","id":"ggvO1ovQvMo_text","label":"ggvO1ovQvMo_text","default":"<p>Fórmula patentada</p>"},{"type":"html","id":"gg91xKH9d7w_text","label":"gg91xKH9d7w_text","default":"<p>Envíos a todo el país</p>"},{"type":"html","id":"ggnlmWhnKyT_text","label":"ggnlmWhnKyT_text","default":"<p>Aprobado por dermatólogos&nbsp;</p>"},{"type":"html","id":"ggqTn6BIugr_text","label":"ggqTn6BIugr_text","default":"<p>Absorción profunda</p>"},{"type":"html","id":"ggGANosq-xe_text","label":"ggGANosq-xe_text","default":"<p>5 000 unidades vendidas</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}