
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-596911594156655596.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-596911594156655596.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-596911594156655596.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-596911594156655596.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-596911594156655596.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-596911594156655596.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-596911594156655596.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-596911594156655596.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-596911594156655596.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-596911594156655596.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-596911594156655596.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-596911594156655596.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-596911594156655596.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-596911594156655596.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-596911594156655596.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-596911594156655596.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-596911594156655596.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-596911594156655596.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-596911594156655596.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-596911594156655596.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-596911594156655596.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-596911594156655596.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-596911594156655596.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-596911594156655596.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-596911594156655596.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-596911594156655596.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-596911594156655596.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-596911594156655596.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-596911594156655596.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-596911594156655596.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-596911594156655596.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-596911594156655596.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-596911594156655596.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-596911594156655596.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-596911594156655596.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-596911594156655596.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-596911594156655596.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-596911594156655596.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-596911594156655596.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-596911594156655596.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-596911594156655596.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-596911594156655596.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-596911594156655596.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-596911594156655596.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-596911594156655596.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-596911594156655596.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-596911594156655596.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-596911594156655596.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-596911594156655596.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-596911594156655596.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-596911594156655596.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-596911594156655596.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-596911594156655596.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-596911594156655596.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-596911594156655596.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-596911594156655596.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-596911594156655596.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-596911594156655596.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-596911594156655596.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-596911594156655596.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-596911594156655596.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-596911594156655596.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-596911594156655596.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-596911594156655596.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-596911594156655596.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-596911594156655596.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-596911594156655596.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-596911594156655596.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-596911594156655596.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-596911594156655596.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-596911594156655596.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-596911594156655596.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-596911594156655596.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-596911594156655596 .-gp-translate-x-1\/2,.gps-596911594156655596 .-gp-translate-y-1\/2,.gps-596911594156655596 .gp-rotate-0,.gps-596911594156655596 .gp-rotate-180,.gps-596911594156655596 .mobile\:gp-rotate-0,.gps-596911594156655596 .mobile\:gp-rotate-180,.gps-596911594156655596 .tablet\:gp-rotate-0,.gps-596911594156655596 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-596911594156655596 .gp-visible{visibility:visible}.gps-596911594156655596 .gp-invisible{visibility:hidden}.gps-596911594156655596 .gp-absolute{position:absolute}.gps-596911594156655596 .gp-relative{position:relative}.gps-596911594156655596 .gp-left-0{left:0}.gps-596911594156655596 .gp-left-1\/2{left:50%}.gps-596911594156655596 .gp-right-0{right:0}.gps-596911594156655596 .gp-top-1\/2{top:50%}.gps-596911594156655596 .gp-z-1{z-index:1}.gps-596911594156655596 .gp-z-2{z-index:2}.gps-596911594156655596 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-596911594156655596 .gp-my-0{margin-bottom:0;margin-top:0}.gps-596911594156655596 .gp-mb-0{margin-bottom:0}.gps-596911594156655596 .gp-block{display:block}.gps-596911594156655596 .gp-flex{display:flex}.gps-596911594156655596 .gp-grid{display:grid}.gps-596911594156655596 .\!gp-hidden{display:none!important}.gps-596911594156655596 .gp-hidden{display:none}.gps-596911594156655596 .gp-h-full{height:100%}.gps-596911594156655596 .\!gp-min-h-full{min-height:100%!important}.gps-596911594156655596 .gp-w-\[68px\]{width:68px}.gps-596911594156655596 .gp-w-full{width:100%}.gps-596911594156655596 .\!gp-max-w-none{max-width:none!important}.gps-596911594156655596 .gp-max-w-full{max-width:100%}.gps-596911594156655596 .gp-flex-1{flex:1 1 0%}.gps-596911594156655596 .gp-shrink-0{flex-shrink:0}.gps-596911594156655596 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-596911594156655596 .-gp-translate-x-1\/2,.gps-596911594156655596 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-596911594156655596 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-596911594156655596 .gp-rotate-0{--tw-rotate:0deg}.gps-596911594156655596 .gp-rotate-0,.gps-596911594156655596 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-596911594156655596 .gp-rotate-180{--tw-rotate:180deg}.gps-596911594156655596 .gp-cursor-pointer{cursor:pointer}.gps-596911594156655596 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-596911594156655596 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-596911594156655596 .\!gp-flex-row{flex-direction:row!important}.gps-596911594156655596 .gp-flex-row{flex-direction:row}.gps-596911594156655596 .gp-flex-col{flex-direction:column}.gps-596911594156655596 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-596911594156655596 .gp-items-center{align-items:center}.gps-596911594156655596 .gp-justify-center{justify-content:center}.gps-596911594156655596 .gp-justify-between{justify-content:space-between}.gps-596911594156655596 .gp-gap-2{gap:8px}.gps-596911594156655596 .gp-overflow-hidden{overflow:hidden}.gps-596911594156655596 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity,1))}.gps-596911594156655596 .gp-bg-cover{background-size:cover}.gps-596911594156655596 .gp-bg-center{background-position:50%}.gps-596911594156655596 .gp-text-center{text-align:center}.gps-596911594156655596 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity,1))}.gps-596911594156655596 .gp-opacity-100{opacity:1}.gps-596911594156655596 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-596911594156655596 .gp-duration-200{transition-duration:.2s}.gps-596911594156655596 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-596911594156655596 .tablet\:\!gp-absolute{position:absolute!important}.gps-596911594156655596 .tablet\:gp-absolute{position:absolute}.gps-596911594156655596 .tablet\:gp-left-0{left:0}.gps-596911594156655596 .tablet\:gp-right-0{right:0}.gps-596911594156655596 .tablet\:gp-z-2{z-index:2}.gps-596911594156655596 .tablet\:gp-block{display:block}.gps-596911594156655596 .tablet\:\!gp-flex{display:flex!important}.gps-596911594156655596 .tablet\:\!gp-hidden{display:none!important}.gps-596911594156655596 .tablet\:gp-hidden{display:none}.gps-596911594156655596 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-596911594156655596 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-596911594156655596 .tablet\:gp-rotate-0,.gps-596911594156655596 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-596911594156655596 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-596911594156655596 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-596911594156655596 .tablet\:gp-flex-row{flex-direction:row}.gps-596911594156655596 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-596911594156655596 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-596911594156655596 .mobile\:\!gp-absolute{position:absolute!important}.gps-596911594156655596 .mobile\:gp-absolute{position:absolute}.gps-596911594156655596 .mobile\:gp-left-0{left:0}.gps-596911594156655596 .mobile\:gp-right-0{right:0}.gps-596911594156655596 .mobile\:gp-z-2{z-index:2}.gps-596911594156655596 .mobile\:gp-block{display:block}.gps-596911594156655596 .mobile\:\!gp-flex{display:flex!important}.gps-596911594156655596 .mobile\:\!gp-hidden{display:none!important}.gps-596911594156655596 .mobile\:gp-hidden{display:none}.gps-596911594156655596 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-596911594156655596 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-596911594156655596 .mobile\:gp-rotate-0,.gps-596911594156655596 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-596911594156655596 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-596911594156655596 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-596911594156655596 .mobile\:gp-flex-row{flex-direction:row}.gps-596911594156655596 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-596911594156655596 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-596911594156655596 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-596911594156655596 .\[\&\>svg\]\:gp-w-full>svg{width:100%}.gps-596911594156655596 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-596911594156655596 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-596911594156655596 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-596911594156655596 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gwBmAN15Fa"}' data-id="gwBmAN15Fa" id="gwBmAN15Fa" data-same-height-subgrid-container class="gwBmAN15Fa gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:80px;--pl:60px;--pb:64px;--pr:60px;--pt-mobile:70px;--pl-mobile:20px;--pb-mobile:56px;--pr-mobile:20px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gjYv7AIWLI gp-relative gp-flex gp-flex-col"
    >
      
    <gp-carousel gp-data='{"id":"gJoYsjbjo0","setting":{"animationMode":"ease-in","arrowBackgroundColor":"transparent","arrowBorder":{"desktop":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"arrowButtonSize":{"desktop":{"height":"32px","padding":{"linked":true},"shapeLinked":true,"shapeValue":"1/1","width":"32px"},"tablet":{"customShapeValue":"","gap":"","height":"44px","padding":{"linked":true},"shape":"","shapeLinked":true,"shapeValue":"1/1","width":"44px"}},"arrowCustom":"<svg data-id=\"515652307380077718\" xmlns=\"http://www.w3.org/2000/svg\" width=\"44\" height=\"44\" viewBox=\"0 0 44 44\" fill=\"none\">\n<rect x=\"0.5\" y=\"0.5\" width=\"43\" height=\"43\" fill=\"white\"/>\n<rect x=\"0.5\" y=\"0.5\" width=\"43\" height=\"43\" stroke=\"black\"/>\n<path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M16.9703 12.4703C17.04 12.4005 17.1228 12.3451 17.2139 12.3073C17.305 12.2695 17.4027 12.25 17.5013 12.25C17.6 12.25 17.6977 12.2695 17.7888 12.3073C17.8799 12.3451 17.9627 12.4005 18.0323 12.4703L27.0323 21.4703C27.1022 21.54 27.1576 21.6228 27.1954 21.7139C27.2332 21.805 27.2527 21.9027 27.2527 22.0013C27.2527 22.1 27.2332 22.1977 27.1954 22.2888C27.1576 22.3799 27.1022 22.4627 27.0323 22.5323L18.0323 31.5323C17.8915 31.6732 17.7005 31.7523 17.5013 31.7523C17.3022 31.7523 17.1112 31.6732 16.9703 31.5323C16.8295 31.3915 16.7504 31.2005 16.7504 31.0013C16.7504 30.8022 16.8295 30.6112 16.9703 30.4703L25.4408 22.0013L16.9703 13.5323C16.9005 13.4627 16.8451 13.3799 16.8073 13.2888C16.7695 13.1977 16.75 13.1 16.75 13.0013C16.75 12.9027 16.7695 12.805 16.8073 12.7139C16.8451 12.6228 16.9005 12.54 16.9703 12.4703Z\" fill=\"#242424\"/>\n</svg>","arrowCustomColor":"#000000","arrowGapToEachSide":"0","arrowIconSize":{"desktop":24,"tablet":44},"autoplay":false,"autoplayTimeout":2,"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"childItem":["Slide 1","Slide 2","Slide 3","Slide 4"],"controlOverContent":{"desktop":true},"dot":{"desktop":false,"mobile":false,"tablet":false},"dotActiveColor":{"desktop":"line-3"},"dotColor":{"desktop":"bg-1"},"dotGapToCarousel":{"desktop":16},"dotSize":{"desktop":12},"dotStyle":{"desktop":"inside","mobile":"inside","tablet":"inside"},"enableDrag":{"desktop":false},"itemNumber":{"desktop":4,"mobile":1,"tablet":2},"label":true,"loop":{"desktop":false},"navigationEnable":{"desktop":false,"mobile":true,"tablet":true},"navigationStyle":{"desktop":"inside","mobile":"inside","tablet":"inside"},"pauseOnHover":true,"roundedArrow":{"desktop":{"radiusType":"small"},"tablet":{"bblr":"3px","bbrr":"3px","btlr":"3px","btrr":"3px","radiusType":"custom"}},"rtl":false,"runPreview":false,"showWhenHover":false,"sneakPeak":{"desktop":false},"sneakPeakOffsetCenter":{"desktop":50},"sneakPeakOffsetForward":{"desktop":50},"sneakPeakType":{"desktop":"forward"},"vertical":{"desktop":false}},"styles":{"align":{"desktop":"center"},"borderContent":{"border":"none","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"position":"all","width":"1px 1px 1px 1px"},"carouselShadow":{"angle":90,"blur":"12px","color":"#121212","distance":"4px","spread":"0px","type":"shadow-1"},"fullWidth":{"desktop":false,"mobile":false,"tablet":false},"hasActiveShadow":false,"playSpeed":500,"roundedContent":{"radiusType":"none"},"sizeSetting":{"desktop":{"gap":"","height":"auto","shapeLinked":false,"width":"100%"}},"spacing":{"desktop":"30"}}}' data-id="gJoYsjbjo0" id="gp-root-carousel-gJoYsjbjo0" style="--jc:center" class="gp-group/carousel gp-w-full gp-flex">
      <div
        
        class="gJoYsjbjo0 gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:14px;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%"
      >
        <div class="gp-relative gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row" style="--h:100%;--h-tablet:100%;--h-mobile:100%;gap:0px">
          
    <button
      type="button"
      aria-label='Carousel Back Arrow'
      class="gp-z-1 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0 gp-carousel-arrow-gJoYsjbjo0 gJoYsjbjo0 gp-carousel-action-back gem-slider-previous gp-cursor-pointer gp-text-gray-500 !gp-hidden tablet:!gp-flex tablet:!gp-absolute tablet:gp-z-2 mobile:!gp-flex mobile:!gp-absolute mobile:gp-z-2"
      style="--bg:transparent;--d:none;--d-tablet:flex;--d-mobile:flex;--left:3px;--right:initial;--top:initial;--bottom:;--left-tablet:0px;--right-tablet:initial;--top-tablet:initial;--bottom-tablet:;--left-mobile:0px;--right-mobile:initial;--top-mobile:initial;--bottom-mobile:;--w:32px;--w-tablet:44px;--h:32px;--h-tablet:44px"
    >
      <style type="text/css">
      .gp-carousel-arrow-gJoYsjbjo0 {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gJoYsjbjo0::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
      @media only screen and (max-width: 1024px) and (min-width: 768px) {
        .gp-carousel-arrow-gJoYsjbjo0 {
          
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      
        }
        .gp-carousel-arrow-gJoYsjbjo0::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      
        }
      }
      @media only screen and (max-width: 768px) {
        .gp-carousel-arrow-gJoYsjbjo0 {
          
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      
        }
        .gp-carousel-arrow-gJoYsjbjo0::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      
        }
      }
    </style>
      
    <div
      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180"
      style="--c:#000000;--w:24px;--w-tablet:44px;--w-mobile:44px;--h:24px;--h-tablet:44px;--h-mobile:44px"
    >
        <svg data-id="515652307380077718" xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44" fill="none">
<rect x="0.5" y="0.5" width="43" height="43" fill="white"/>
<rect x="0.5" y="0.5" width="43" height="43" stroke="black"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M16.9703 12.4703C17.04 12.4005 17.1228 12.3451 17.2139 12.3073C17.305 12.2695 17.4027 12.25 17.5013 12.25C17.6 12.25 17.6977 12.2695 17.7888 12.3073C17.8799 12.3451 17.9627 12.4005 18.0323 12.4703L27.0323 21.4703C27.1022 21.54 27.1576 21.6228 27.1954 21.7139C27.2332 21.805 27.2527 21.9027 27.2527 22.0013C27.2527 22.1 27.2332 22.1977 27.1954 22.2888C27.1576 22.3799 27.1022 22.4627 27.0323 22.5323L18.0323 31.5323C17.8915 31.6732 17.7005 31.7523 17.5013 31.7523C17.3022 31.7523 17.1112 31.6732 16.9703 31.5323C16.8295 31.3915 16.7504 31.2005 16.7504 31.0013C16.7504 30.8022 16.8295 30.6112 16.9703 30.4703L25.4408 22.0013L16.9703 13.5323C16.9005 13.4627 16.8451 13.3799 16.8073 13.2888C16.7695 13.1977 16.75 13.1 16.75 13.0013C16.75 12.9027 16.7695 12.805 16.8073 12.7139C16.8451 12.6228 16.9005 12.54 16.9703 12.4703Z" fill="#242424"/>
</svg>
    </div>
  
    </button>
  
          <div id="gp-carousel-gJoYsjbjo0" class="gem-slider gp-h-full gp-overflow-hidden gp-select-none gp-carousel-slider-gJoYsjbjo0 mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full" style="--cg-mobile:30px;--cg-tablet:30px;--cg:30px">
            
    
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gJoYsjbjo0 gp-child-item-gJoYsjbjo0 gAEyREtUWG"
      style="--minw:calc(100% / 4 - 22.5px);--minw-tablet:calc(100% / 2 - 15px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 22.5px);--maxw-tablet:calc(100% / 2 - 15px);--maxw-mobile:calc(100% / 1 - 0px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT"
      data-index="0"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g9zi56sQ_l"}' data-id="g9zi56sQ_l" id="g9zi56sQ_l" data-same-height-subgrid-container class="g9zi56sQ_l gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="giFB4HnxLO gp-relative gp-flex gp-flex-col"
    >
      
    <div
       data-id="gNbzKIQI5V" class="gNbzKIQI5V !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:14px;--mb-tablet:0px;--aspect:auto">
      
    <gp-lite-youtube-embed gp-data='{"lazy":true,"style":{"--aspect":"auto"},"title":"Video","iframeSrc":"https://www.youtube-nocookie.com/embed/cyzh48XRS4M?autoplay=true&state=1&mute=1&controls=1"}'>
      <article
        aria-hidden
        class="gp-relative gp-bg-cover gp-bg-center gp-lite-youtube-embed-article gp_lazybg"
        data-title="Video"
        style="background-image:url({{ "img112.png" | file_url }});--aspect:auto"
      >
        
    <img
      alt="Alt image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "img112.png" | file_url }}" data-src="{{ "img112.png" | file_url }}" data-srcset="{{ "img112.png" | file_url }}"
      id="gp-video-gNbzKIQI5V"
      
      class="gp-invisible gp-w-full gp-h-full gp_lazyforbg gp_lazyload"
    />
        <button type="button" aria-label="Play" class="gp-absolute gp-left-1/2 gp-top-1/2 gp-w-[68px] -gp-translate-x-1/2 -gp-translate-y-1/2 gp-lite-youtube-embed-button gp-visible gp-opacity-100">
          <svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%">
            <path
              d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
              fill="#f00"
            ></path>
            <path d="M 45,24 27,14 27,34" fill="#fff"></path>
          </svg>
        </button>
        
      </article>
    </gp-lite-youtube-embed>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-youtube-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      <style id="custom-css-gNbzKIQI5V">
        .gNbzKIQI5V[data-component-label="Video"] {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gJoYsjbjo0 gp-child-item-gJoYsjbjo0 g9aKkkNYyu"
      style="--minw:calc(100% / 4 - 22.5px);--minw-tablet:calc(100% / 2 - 15px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 22.5px);--maxw-tablet:calc(100% / 2 - 15px);--maxw-mobile:calc(100% / 1 - 0px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT"
      data-index="1"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g13OojJmIt"}' data-id="g13OojJmIt" id="g13OojJmIt" data-same-height-subgrid-container class="g13OojJmIt gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gdGGWiN8_q gp-relative gp-flex gp-flex-col"
    >
      
    <div
       data-id="gWXG3PdDQo" class="gWXG3PdDQo !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:14px;--mb-tablet:0px;--aspect:auto">
      
    <gp-lite-youtube-embed gp-data='{"lazy":true,"style":{"--aspect":"auto"},"title":"Video","iframeSrc":"https://www.youtube-nocookie.com/embed/cyzh48XRS4M?autoplay=true&state=1&mute=1&controls=1"}'>
      <article
        aria-hidden
        class="gp-relative gp-bg-cover gp-bg-center gp-lite-youtube-embed-article gp_lazybg"
        data-title="Video"
        style="background-image:url({{ "img112.png" | file_url }});--aspect:auto"
      >
        
    <img
      alt="Alt image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "img112.png" | file_url }}" data-src="{{ "img112.png" | file_url }}" data-srcset="{{ "img112.png" | file_url }}"
      id="gp-video-gWXG3PdDQo"
      
      class="gp-invisible gp-w-full gp-h-full gp_lazyforbg gp_lazyload"
    />
        <button type="button" aria-label="Play" class="gp-absolute gp-left-1/2 gp-top-1/2 gp-w-[68px] -gp-translate-x-1/2 -gp-translate-y-1/2 gp-lite-youtube-embed-button gp-visible gp-opacity-100">
          <svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%">
            <path
              d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
              fill="#f00"
            ></path>
            <path d="M 45,24 27,14 27,34" fill="#fff"></path>
          </svg>
        </button>
        
      </article>
    </gp-lite-youtube-embed>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-youtube-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      <style id="custom-css-gWXG3PdDQo">
        .gWXG3PdDQo[data-component-label="Video"] {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gJoYsjbjo0 gp-child-item-gJoYsjbjo0 gWCuPsLsZK"
      style="--minw:calc(100% / 4 - 22.5px);--minw-tablet:calc(100% / 2 - 15px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 22.5px);--maxw-tablet:calc(100% / 2 - 15px);--maxw-mobile:calc(100% / 1 - 0px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT"
      data-index="2"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gCsNexdcNA"}' data-id="gCsNexdcNA" id="gCsNexdcNA" data-same-height-subgrid-container class="gCsNexdcNA gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gFUhNEPRM6 gp-relative gp-flex gp-flex-col"
    >
      
    <div
       data-id="gPVGUBnNZq" class="gPVGUBnNZq !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:14px;--mb-tablet:0px;--aspect:auto">
      
    <gp-lite-youtube-embed gp-data='{"lazy":true,"style":{"--aspect":"auto"},"title":"Video","iframeSrc":"https://www.youtube-nocookie.com/embed/cyzh48XRS4M?autoplay=true&state=1&mute=1&controls=1"}'>
      <article
        aria-hidden
        class="gp-relative gp-bg-cover gp-bg-center gp-lite-youtube-embed-article gp_lazybg"
        data-title="Video"
        style="background-image:url({{ "img112.png" | file_url }});--aspect:auto"
      >
        
    <img
      alt="Alt image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "img112.png" | file_url }}" data-src="{{ "img112.png" | file_url }}" data-srcset="{{ "img112.png" | file_url }}"
      id="gp-video-gPVGUBnNZq"
      
      class="gp-invisible gp-w-full gp-h-full gp_lazyforbg gp_lazyload"
    />
        <button type="button" aria-label="Play" class="gp-absolute gp-left-1/2 gp-top-1/2 gp-w-[68px] -gp-translate-x-1/2 -gp-translate-y-1/2 gp-lite-youtube-embed-button gp-visible gp-opacity-100">
          <svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%">
            <path
              d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
              fill="#f00"
            ></path>
            <path d="M 45,24 27,14 27,34" fill="#fff"></path>
          </svg>
        </button>
        
      </article>
    </gp-lite-youtube-embed>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-youtube-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      <style id="custom-css-gPVGUBnNZq">
        .gPVGUBnNZq[data-component-label="Video"] {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gJoYsjbjo0 gp-child-item-gJoYsjbjo0 grGKc9Gxdr"
      style="--minw:calc(100% / 4 - 22.5px);--minw-tablet:calc(100% / 2 - 15px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 22.5px);--maxw-tablet:calc(100% / 2 - 15px);--maxw-mobile:calc(100% / 1 - 0px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT"
      data-index="3"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gQppp5MS2A"}' data-id="gQppp5MS2A" id="gQppp5MS2A" data-same-height-subgrid-container class="gQppp5MS2A gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gbCZohAg0B gp-relative gp-flex gp-flex-col"
    >
      
    <div
       data-id="g4xLqLWEiB" class="g4xLqLWEiB !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:14px;--mb-tablet:0px;--aspect:auto">
      
    <gp-lite-youtube-embed gp-data='{"lazy":true,"style":{"--aspect":"auto"},"title":"Video","iframeSrc":"https://www.youtube-nocookie.com/embed/cyzh48XRS4M?autoplay=true&state=1&mute=1&controls=1"}'>
      <article
        aria-hidden
        class="gp-relative gp-bg-cover gp-bg-center gp-lite-youtube-embed-article gp_lazybg"
        data-title="Video"
        style="background-image:url({{ "img112.png" | file_url }});--aspect:auto"
      >
        
    <img
      alt="Alt image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "img112.png" | file_url }}" data-src="{{ "img112.png" | file_url }}" data-srcset="{{ "img112.png" | file_url }}"
      id="gp-video-g4xLqLWEiB"
      
      class="gp-invisible gp-w-full gp-h-full gp_lazyforbg gp_lazyload"
    />
        <button type="button" aria-label="Play" class="gp-absolute gp-left-1/2 gp-top-1/2 gp-w-[68px] -gp-translate-x-1/2 -gp-translate-y-1/2 gp-lite-youtube-embed-button gp-visible gp-opacity-100">
          <svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%">
            <path
              d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
              fill="#f00"
            ></path>
            <path d="M 45,24 27,14 27,34" fill="#fff"></path>
          </svg>
        </button>
        
      </article>
    </gp-lite-youtube-embed>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-youtube-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      <style id="custom-css-g4xLqLWEiB">
        .g4xLqLWEiB[data-component-label="Video"] {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
      </div>
    </div>
  
          </div>
          
    <button
      type="button"
      aria-label='Carousel Next Arrow'
      class="gp-z-1 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0 gp-carousel-arrow-gJoYsjbjo0 gJoYsjbjo0 gp-carousel-action-next gem-slider-next gp-cursor-pointer gp-text-gray-500 !gp-hidden tablet:!gp-flex tablet:!gp-absolute tablet:gp-z-2 mobile:!gp-flex mobile:!gp-absolute mobile:gp-z-2"
      style="--bg:transparent;--d:none;--d-tablet:flex;--d-mobile:flex;--right:3px;--left:initial;--top:;--bottom:initial;--right-tablet:0px;--left-tablet:initial;--top-tablet:;--bottom-tablet:initial;--right-mobile:0px;--left-mobile:initial;--top-mobile:;--bottom-mobile:initial;--w:32px;--w-tablet:44px;--h:32px;--h-tablet:44px"
    >
      <style type="text/css">
      .gp-carousel-arrow-gJoYsjbjo0 {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gJoYsjbjo0::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
      @media only screen and (max-width: 1024px) and (min-width: 768px) {
        .gp-carousel-arrow-gJoYsjbjo0 {
          
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      
        }
        .gp-carousel-arrow-gJoYsjbjo0::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      
        }
      }
      @media only screen and (max-width: 768px) {
        .gp-carousel-arrow-gJoYsjbjo0 {
          
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      
        }
        .gp-carousel-arrow-gJoYsjbjo0::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      
        }
      }
    </style>
      
    <div
      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0"
      style="--c:#000000;--w:24px;--w-tablet:44px;--w-mobile:44px;--h:24px;--h-tablet:44px;--h-mobile:44px"
    >
        <svg data-id="515652307380077718" xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44" fill="none">
<rect x="0.5" y="0.5" width="43" height="43" fill="white"/>
<rect x="0.5" y="0.5" width="43" height="43" stroke="black"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M16.9703 12.4703C17.04 12.4005 17.1228 12.3451 17.2139 12.3073C17.305 12.2695 17.4027 12.25 17.5013 12.25C17.6 12.25 17.6977 12.2695 17.7888 12.3073C17.8799 12.3451 17.9627 12.4005 18.0323 12.4703L27.0323 21.4703C27.1022 21.54 27.1576 21.6228 27.1954 21.7139C27.2332 21.805 27.2527 21.9027 27.2527 22.0013C27.2527 22.1 27.2332 22.1977 27.1954 22.2888C27.1576 22.3799 27.1022 22.4627 27.0323 22.5323L18.0323 31.5323C17.8915 31.6732 17.7005 31.7523 17.5013 31.7523C17.3022 31.7523 17.1112 31.6732 16.9703 31.5323C16.8295 31.3915 16.7504 31.2005 16.7504 31.0013C16.7504 30.8022 16.8295 30.6112 16.9703 30.4703L25.4408 22.0013L16.9703 13.5323C16.9005 13.4627 16.8451 13.3799 16.8073 13.2888C16.7695 13.1977 16.75 13.1 16.75 13.0013C16.75 12.9027 16.7695 12.805 16.8073 12.7139C16.8451 12.6228 16.9005 12.54 16.9703 12.4703Z" fill="#242424"/>
</svg>
    </div>
  
    </button>
  
        </div>
        
    
        <div class="gp-carousel-dot-container gp-carousel-dot-container-gJoYsjbjo0 gp-z-2 gp-flex gp-flex-1 gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-absolute gp-flex-row gp-left-0 gp-right-0 tablet:gp-absolute tablet:gp-flex-row tablet:gp-left-0 tablet:gp-right-0 mobile:gp-absolute mobile:gp-flex-row mobile:gp-left-0 mobile:gp-right-0" style="--bottom:16px;--bottom-tablet:16px;--bottom-mobile:16px;--d:none;--d-tablet:none;--d-mobile:none">
          <!-- item render by js -->
        </div>
      
  
      </div>
    </gp-carousel>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-carousel-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-596911594156655596 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/hdwkam-rm/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=596911594038887404&sectionId=596911594156655596)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}